<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>Allfolio - All in one portfolio HTML template</title>
  <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">

  <!-- CSS here -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" media="all" />
  <link rel="stylesheet" type="text/css" href="css/elegant-icons.min.css" media="all" />
  <link rel="stylesheet" type="text/css" href="css/all.min.css" media="all" />
  <link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.min.css" media="all" />
  <link rel="stylesheet" type="text/css" href="css/swiper-bundle.min.css" media="all" />
  <link rel="stylesheet" type="text/css" href="css/fancybox.css" media="all" />
  <link rel="stylesheet" type="text/css" href="css/flatpickr.min.css" media="all" />
  <link rel="stylesheet" type="text/css" href="css/nice-select.css" media="all" />
  <link rel="stylesheet" type="text/css" href="css/animate.css" media="all" />
  <link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
  <link rel="stylesheet" type="text/css" href="css/main.css" media="all" />
  <link rel="stylesheet" type="text/css" href="css/responsive.css" media="all" />
</head>

<body>
  <!-- Preloader -->
  <div id="preloader">
    <div id="ctn-preloader" class="ctn-preloader">
      <div class="round_spinner">
        <div class="spinner"></div>
        <div class="text">
          <img src="img/logo.png" alt="" />
        </div>
      </div>
      <h2 class="head">Did You Know?</h2>
      <p></p>
    </div>
  </div>

  <div class="body_wrapper">
    <div class="click_capture"></div>
    <!-- Navbar -->
    <div class="header-area sticky_nav">
      <nav class="navbar menu_one">
        <div class="container">
          <a class="navbar-brand header_logo" href="index-web-developer.html">
            <img class="first_logo sticky_logo" src="img/logo.png" srcset="img/logo@2x.png 2x" alt="logo" />
            <img class="white_logo main_logo" src="img/logo.png" srcset="img/logo@2x.png 2x" alt="logo" />
          </a>

          <div class="right-nav">
            <a class="theme-btn btn-small d-none d-md-inline-block" href="contact.html">Let’s Talk</a>
            <div class="mobile_menu_left">
              <button type="button" class="navbar-toggler mobile_menu_btn">
                <span class="menu_toggle">
                  <span class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                  </span>
                </span>
              </button>
            </div>
          </div>
        </div>
      </nav>
      <div class="side_menu scroll">
        <div class="mobile_menu_header">
          <div class="mobile_logo">
            <a class="navbar-brand header_logo me-0" href="index-web-developer.html">
              <img class="sticky_logo main_logo" src="img/logo.png" srcset="img/logo@2x.png 2x" alt="logo">
              <img class="white_logo" src="img/logo-w.png" srcset="img/logo-w@2x.png 2x" alt="logo">
            </a>
          </div>
          <div class="close_nav">
            <i class="icon_close"></i>
          </div>
        </div>
        <div class="mobile_nav_wrapper">
          <nav class="mobile_nav_top" id="main_nav_spy">
            <ul class="navbar-nav menu ms-auto">
              <li class="nav-item dropdown submenu active">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Home
                </a>
                <i class="arrow_carrot-down mobile_dropdown_icon" aria-hidden="false" data-toggle="dropdown"></i>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a href="index-web-developer.html" class="nav-link">Web Developer (Dark)</a></li>
                  <li class="nav-item"><a href="index-ui-ux-designer.html" class="nav-link">UI/UX Designer</a></li>
                  <li class="nav-item"><a href="index-website-designer.html" class="nav-link">Website Designer</a></li>
                  <li class="nav-item"><a href="index-programmer.html" class="nav-link">Programmer (Dark)</a></li>
                  <li class="nav-item"><a href="index-passionate-coder.html" class="nav-link">Passionate Coder</a></li>
                  <li class="nav-item"><a href="index-creative-fullscreen-slides.html" class="nav-link">Creative
                      Fullscreen Slides</a></li>
                  <li class="nav-item"><a href="index-colorful-fullscreen-slides.html" class="nav-link">Colorful
                      Fullscreen Slides</a></li>
                  <li class="nav-item"><a href="index-professional-photographer.html" class="nav-link">Professional
                      Photographer</a></li>
                  <li class="nav-item active"><a href="index-doctor.html" class="nav-link">Doctor</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown submenu">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Pages
                </a>
                <i class="arrow_carrot-down mobile_dropdown_icon" aria-hidden="false" data-toggle="dropdown"></i>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                  <li class="nav-item"><a href="services.html" class="nav-link">Service</a></li>
                  <li class="nav-item"><a href="work-history.html" class="nav-link">Work History</a></li>
                  <li class="nav-item"><a href="faq.html" class="nav-link">Faq</a></li>
                  <li class="nav-item"><a href="team-members.html" class="nav-link">Team</a></li>
                  <li class="nav-item"><a href="member-single.html" class="nav-link">Team Details</a></li>
                  <li class="nav-item"><a href="proccess.html" class="nav-link">Proccess</a></li>
                  <li class="nav-item"><a href="case-study.html" class="nav-link">Case Study</a></li>
                  <li class="nav-item"><a href="study-details.html" class="nav-link">Study Details</a></li>
                  <li class="nav-item"><a href="our-customers.html" class="nav-link">Customer Logo</a></li>
                  <li class="nav-item"><a href="element.html" class="nav-link">Elements</a></li>
                  <li class="nav-item"><a href="typography.html" class="nav-link">Typography</a></li>
                  <li class="nav-item"><a href="contact.html" class="nav-link">Contact Us</a></li>
                  <li class="nav-item"><a href="contact-2.html" class="nav-link">Contact Us-2</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown submenu">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Portfolios
                </a>
                <i class="arrow_carrot-down mobile_dropdown_icon" aria-hidden="false" data-toggle="dropdown"></i>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a href="gallery.html" class="nav-link">Portfolio Gallery</a></li>
                  <li class="nav-item"><a href="portfolio-diagonal-slideshow.html" class="nav-link">Diagonal
                      Slideshow</a></li>
                  <li class="nav-item"><a href="portfolio-details-classic.html" class="nav-link">Portfolio
                      Classic</a></li>
                  <li class="nav-item"><a href="portfolio-carousel.html" class="nav-link">Portfolio
                      Carousel</a></li>
                  <li class="nav-item"><a href="portfolio-before-after.html" class="nav-link">Portfolio
                      Before After</a></li>
                  <li class="nav-item"><a href="portfolio-details.html" class="nav-link">Portfolio
                      Details</a></li>
                  <li class="nav-item"><a href="portfolio-details-2.html" class="nav-link">Portfolio
                      Details Two</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown submenu">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Books & Trips
                </a>
                <i class="arrow_carrot-down mobile_dropdown_icon" aria-hidden="false" data-toggle="dropdown"></i>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a href="my-trips.html" class="nav-link">My Trip</a></li>
                  <li class="nav-item"><a href="my-books.html" class="nav-link">My Books</a></li>
                  <li class="nav-item"><a href="single-trip.html" class="nav-link">Single Trip</a></li>
                  <li class="nav-item"><a href="single-book.html" class="nav-link">Single Book</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown submenu">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Blog
                </a>
                <i class="arrow_carrot-down mobile_dropdown_icon" aria-hidden="false" data-toggle="dropdown"></i>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a href="blog-grid.html" class="nav-link">Blog Grid</a></li>
                  <li class="nav-item"><a href="blog-extend-grid.html" class="nav-link">Extended Grid</a></li>
                  <li class="nav-item"><a href="blog-list.html" class="nav-link">Blog List</a></li>
                  <li class="nav-item"><a href="blog-details.html" class="nav-link">Blog Details</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- Navbar end-->

    <!-- Banner Section -->
    <section class="banner-area-2 banner-area-7 pt-150 pt-lg-220" id="home">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center text-lg-start">
            <div class="banner-content">
              <h1 class="wow fadeInUp" data-wow-delay="0.4s">Psychotherapy for Adults & Children</h1>
              <p class="mt-30 wow fadeinUp" data-wow-delay="0.5s">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat duis enim velit mollit.
                Exercitation veniam consequat sunt nostrud amet.
              </p>
              <div class="banner-btn wow fadeInUp" data-wow-delay="0.6s">
                <a href="contact.html" class="theme-btn theme-btn-outline btn-outline-black">Contact Me Today!</a>
              </div>
            </div>
          </div>
          <div class="col-lg-5 text-md-end">
            <div class="banner-right-content">
              <div class="banner-img wow fadeInUp" data-wow-delay="0.6s">
                <img src="img/home_eight/banner/image.png" alt="Image" />
                <img src="img/home_eight/banner/shape2.png" alt="Shape" class="shape2 d-none d-md-block" />
              </div>
              <div class="right-content">
                <p>
                  “Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua.”
                </p>
                <div class="signature text-end">
                  <span>Dr. Jocelyn</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Banner Section -->

    <!-- Service Section -->
    <section class="service-area-2 position-relative section-padding-xl">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-9 col-lg-6 col-xl-5">
            <div class="section-title wow fadeInUp">
              <h2>Services</h2>
              <p>
                Allergy-triggered asthma anesthesia blood glucose meter
                cerebral cortex contact lenses diarrhea dislocation fever
                involuntary ut labore et dolore magna aliqua. Lorem ipsum
                dolor sit amet,
              </p>
            </div>
          </div>
        </div>
        <div class="row gx-xl-60">
          <div class="col-md-6 col-lg-4">
            <div class="service service-item-2 wow fadeInUp" data-wow-delay="0.1s">
              <div class="service-icon">
                <img src="img/home_eight/icon/icon.svg" alt="Icon" />
              </div>
              <div class="service-title">
                <h3>Individual Therapy</h3>
              </div>
              <p>
                We offer teletherapy services to individuals who are not able
                to meet us in our offices. In these sessions, we offer the...
              </p>
              <a href="service.html" class="btn btn-white-100 btn-round">Read More</a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="service service-item-2 wow fadeInUp" data-wow-delay="0.2s">
              <div class="service-icon">
                <img src="img/home_eight/icon/icon2.svg" alt="Icon" />
              </div>
              <div class="service-title">
                <h3>Couples Therapy</h3>
              </div>
              <p>
                We offer teletherapy services to individuals who are not able
                to meet us in our offices. In these sessions, we offer the...
              </p>
              <a href="service.html" class="btn btn-white-100 btn-round">Read More</a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="service service-item-2 wow fadeInUp" data-wow-delay="0.3s">
              <div class="service-icon">
                <img src="img/home_eight/icon/icon3.svg" alt="Icon" />
              </div>
              <div class="service-title">
                <h3>Child Therapy</h3>
              </div>
              <p>
                We offer teletherapy services to individuals who are not able
                to meet us in our offices. In these sessions, we offer the...
              </p>
              <a href="service.html" class="btn btn-white-100 btn-round">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Service Section -->

    <!-- About Section -->
    <section class="about-area-6 position-relative section-padding-xl bg-white-100">
      <div class="container">
        <div class="row align-content-center">
          <div class="col-12 col-lg-6 col-xl-5">
            <div class="about-left-content wow fadeInUp">
              <h2>Jocelyn Culhane, <br /><span>Psy.D</span></h2>
              <p class="pt-20">
                Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit
              </p>
              <p>
                Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor.
              </p>
              <a href="about.html" class="theme-btn">More About Me</a>
            </div>
          </div>
          <div class="col-12 col-lg-6 offset-xl-1">
            <div class="about-right-content">
              <div class="row g-0">
                <div class="col-sm-6 wow fadeInUp">
                  <div class="about-counter-box bg-white">
                    <h2 class="counter">150</h2>
                    <div class="counter-title">
                      <span>Passionate <br />Providers</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                  <div class="about-counter-box">
                    <div class="counter-logo">
                      <img src="img/logo3.png" alt="Logo" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                  <div class="about-counter-box">
                    <h2><span class="counter">97</span>%</h2>
                    <div class="counter-title">
                      <span>Patient Visit <br>Satisfaction Rating</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
                  <div class="about-counter-box bg-white">
                    <h2><span class="counter">15</span></h2>
                    <div class="counter-title">
                      <span>Wellness Center <br>Locations</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <img src="img/home_eight/shape/shape2.png" alt="Shape" class="shape position-absolute top-0 wow fadeInDown"
        data-wow-delay="0.5s" />
    </section>
    <!-- About Section -->

    <!-- FAQs Section -->
    <section class="faq-area position-relative section-padding-xl">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xl-5 wow fadeInLeft">
            <div class="faq-left-content">
              <h2 class="mt-n12">I Have Experience With…</h2>
              <div class="faq-image position-relative">
                <img src="img/home_eight/faq-image.png" alt="FAQ" />
                <div class="play-button">
                  <a href="https://www.youtube.com/watch?v=CaimKeDcudo" data-fancybox>
                    <i class="fas fa-play"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-xl-6 wow fadeInRight">
            <div class="faq-right-content">
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item faq-accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      Teletherapy
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse show"
                    aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      We offer teletherapy services to individuals who are not able to meet us in our offices. In these
                      sessions, we offer the same high levels of patient-confidentiality and creative personable
                      engagement that we do in-person. We use technology to ensure that their experience is impactful,
                      and convenient.
                    </div>
                  </div>
                </div>
                <div class="accordion-item faq-accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      Individual Therapy
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      We offer teletherapy services to individuals who are not able to meet us in our offices. In these
                      sessions, we offer the same high levels of patient-confidentiality and creative personable
                      engagement that we do in-person. We use technology to ensure that their experience is impactful,
                      and convenient.
                    </div>
                  </div>
                </div>
                <div class="accordion-item faq-accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      Couples Therapy
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      We offer teletherapy services to individuals who are not able to meet us in our offices. In these
                      sessions, we offer the same high levels of patient-confidentiality and creative personable
                      engagement that we do in-person. We use technology to ensure that their experience is impactful,
                      and convenient.
                    </div>
                  </div>
                </div>
                <div class="accordion-item faq-accordion-item">
                  <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                      Child Therapy
                    </button>
                  </h2>
                  <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      We offer teletherapy services to individuals who are not able to meet us in our offices. In these
                      sessions, we offer the same high levels of patient-confidentiality and creative personable
                      engagement that we do in-person. We use technology to ensure that their experience is impactful,
                      and convenient.
                    </div>
                  </div>
                </div>
                <div class="accordion-item faq-accordion-item">
                  <h2 class="accordion-header" id="flush-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                      Family Therapy
                    </button>
                  </h2>
                  <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      We offer teletherapy services to individuals who are not able to meet us in our offices. In these
                      sessions, we offer the same high levels of patient-confidentiality and creative personable
                      engagement that we do in-person. We use technology to ensure that their experience is impactful,
                      and convenient.
                    </div>
                  </div>
                </div>
                <div class="accordion-item faq-accordion-item">
                  <h2 class="accordion-header" id="flush-headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                      Group Workshops
                    </button>
                  </h2>
                  <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      We offer teletherapy services to individuals who are not able to meet us in our offices. In these
                      sessions, we offer the same high levels of patient-confidentiality and creative personable
                      engagement that we do in-person. We use technology to ensure that their experience is impactful,
                      and convenient.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- FAQs Section -->

    <!-- Testimonials Section -->
    <section class="testimonial-area testimonial-area-8 bg-white-100 section-padding-xl">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title wow fadeInUp">
              <h2 class="mt-n12">Testimonials</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonial-slider-active swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonial testimonial-item">
              <span class="category">Olga</span>
              <h3 class="testimonial-title">Thank you and your entire team for your kind and attentive attitude.</h3>
              <span class="testimonial-subtitle">Head of the Assisted Reproductive technology
                Center</span>
              <div class="author-name">
                <img src="img/home_eight/author/author.png" alt="Image" class="author-img">
                <span class="author-title">Zain Torff</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial testimonial-item">
              <span class="category">Family S</span>
              <h3 class="testimonial-title">Thank you and your entire team for your kind and attentive attitude.</h3>
              <span class="testimonial-subtitle">Head of the Assisted Reproductive technology
                Center</span>
              <div class="author-name">
                <img src="img/home_eight/author/author2.png" alt="Image" class="author-img">
                <span class="author-title">Madelyn Press</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial testimonial-item">
              <span class="category">Karina</span>
              <h3 class="testimonial-title">Thank you and your entire team for your kind and attentive attitude.</h3>
              <span class="testimonial-subtitle">Head of the Assisted Reproductive technology
                Center</span>
              <div class="author-name">
                <img src="img/home_eight/author/author3.png" alt="Image" class="author-img">
                <span class="author-title">Lincoln Levin</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial testimonial-item">
              <span class="category">Olga</span>
              <h3 class="testimonial-title">Thank you and your entire team for your kind and attentive attitude.</h3>
              <span class="testimonial-subtitle">Head of the Assisted Reproductive technology
                Center</span>
              <div class="author-name">
                <img src="img/home_eight/author/author4.png" alt="Image" class="author-img">
                <span class="author-title">Charlie Rhiel</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial testimonial-item">
              <span class="category">Olga</span>
              <h3 class="testimonial-title">Thank you and your entire team for your kind and attentive attitude.</h3>
              <span class="testimonial-subtitle">Head of the Assisted Reproductive technology
                Center</span>
              <div class="author-name">
                <img src="img/home_eight/author/author.png" alt="Image" class="author-img">
                <span class="author-title">Zain Torff</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial testimonial-item">
              <span class="category">Olga</span>
              <h3 class="testimonial-title">Thank you and your entire team for your kind and attentive attitude.</h3>
              <span class="testimonial-subtitle">Head of the Assisted Reproductive technology
                Center</span>
              <div class="author-name">
                <img src="img/home_eight/author/author.png" alt="Image" class="author-img">
                <span class="author-title">Zain Torff</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial testimonial-item">
              <span class="category">Olga</span>
              <h3 class="testimonial-title">Thank you and your entire team for your kind and attentive attitude.</h3>
              <span class="testimonial-subtitle">Head of the Assisted Reproductive technology
                Center</span>
              <div class="author-name">
                <img src="img/home_eight/author/author.png" alt="Image" class="author-img">
                <span class="author-title">Zain Torff</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="navigation">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </section>
    <!-- Testimonials Section -->

    <!-- Book an Appointment Section -->
    <section class="booking-area z-1 section-padding-xl pt-0">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="booking-form wow fadeInLeft" data-wow-delay="0.2s">
              <h2 class="mb-4 mt-n12">Book an Appointment</h2>
              <form action="#">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="name" class="form-label">Your name</label>
                      <input type="text" id="name" class="form-control" placeholder="Full Name">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="basicDate" class="form-label form-date">Date of Birth</label>
                      <div class="form-calender position-relative">
                        <input type="text" class="form-control" id="basicDate" placeholder="MM/DD/YYYY" data-input>
                        <div class="form-icon">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M20.5 8H3.5M6 21H18C19.6569 21 21 19.6569 21 18V8C21 6.34315 19.6569 5 18 5H6C4.34315 5 3 6.34315 3 8V18C3 19.6569 4.34315 21 6 21Z"
                              stroke="#747376" stroke-width="1.3" stroke-linecap="round" />
                            <path d="M7.5 5V2.75" stroke="#747376" stroke-width="1.3" stroke-linecap="round"
                              stroke-linejoin="round" />
                            <path d="M16.5 5V2.75" stroke="#747376" stroke-width="1.3" stroke-linecap="round"
                              stroke-linejoin="round" />
                            <path
                              d="M8.25 17.5H6.75M8.25 14.5H6.75M8.25 11.5H6.75M12.75 17.5H11.25M12.75 14.5H11.25M12.75 11.5H11.25M17.25 17.5H15.75M17.25 14.5H15.75M17.25 11.5H15.75"
                              stroke="#747376" stroke-width="1.3" stroke-linecap="round" />
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="phone" class="form-label">Phone Number</label>
                      <input type="text" id="phone" class="form-control" placeholder="33 (202) 123 4567">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label for="service" class="form-label">Type of Service</label>
                      <select id="service" class="select">
                        <option data-display="Select service">Select service</option>
                        <option value="1">Some option</option>
                        <option value="2">Another option</option>
                        <option value="3" disabled>A disabled option</option>
                        <option value="4">Potato</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="availability" class="form-label">Availability</label>
                      <div class="form-calender position-relative">
                        <input type="text" class="form-control" id="availability" placeholder="MM/DD/YYYY" data-input>
                        <div class="form-icon">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M20.5 8H3.5M6 21H18C19.6569 21 21 19.6569 21 18V8C21 6.34315 19.6569 5 18 5H6C4.34315 5 3 6.34315 3 8V18C3 19.6569 4.34315 21 6 21Z"
                              stroke="#747376" stroke-width="1.3" stroke-linecap="round" />
                            <path d="M7.5 5V2.75" stroke="#747376" stroke-width="1.3" stroke-linecap="round"
                              stroke-linejoin="round" />
                            <path d="M16.5 5V2.75" stroke="#747376" stroke-width="1.3" stroke-linecap="round"
                              stroke-linejoin="round" />
                            <path
                              d="M8.25 17.5H6.75M8.25 14.5H6.75M8.25 11.5H6.75M12.75 17.5H11.25M12.75 14.5H11.25M12.75 11.5H11.25M17.25 17.5H15.75M17.25 14.5H15.75M17.25 11.5H15.75"
                              stroke="#747376" stroke-width="1.3" stroke-linecap="round" />
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <button class="theme-btn" type="submit">Check Availability</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6 col-xl-5 offset-xl-1 wow fadeInRight" data-wow-delay="0.2s">
            <div class="booking-right-content">
              <ul class="contact-list">
                <li class="contact-list-item">
                  <div class="contact-icon">
                    <svg width="20" height="32" viewBox="0 0 20 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M3.35544 1.77641C2.48336 1.77641 1.77641 2.48336 1.77641 3.35544V28.6446C1.77641 29.5166 2.48336 30.2236 3.35544 30.2236H15.6916C16.5637 30.2236 17.2706 29.5166 17.2706 28.6446V3.35544C17.2706 2.48336 16.5637 1.77641 15.6916 1.77641H14.0827L13.5864 3.0171C13.4515 3.35431 13.1249 3.57543 12.7618 3.57543H6.28527C5.92208 3.57543 5.59548 3.35431 5.4606 3.0171L4.96432 1.77641H3.35544ZM6.87757 1.77641L6.88662 1.79902H12.1604L12.1695 1.77641H6.87757ZM0 3.35544C0 1.50228 1.50228 0 3.35544 0H15.6916C17.5448 0 19.047 1.50228 19.047 3.35544V28.6446C19.047 30.4977 17.5448 32 15.6916 32H3.35544C1.50228 32 0 30.4977 0 28.6446V3.35544Z"
                        fill="#17161A" />
                    </svg>
                  </div>
                  <div class="contact-text">
                    <h5>Call</h5>
                    <p>(925)-481-9365</p>
                  </div>
                </li>
                <li class="contact-list-item">
                  <div class="contact-icon">
                    <svg width="28px" height="28px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M1 2C0.447715 2 0 2.44772 0 3V12C0 12.5523 0.447715 13 1 13H14C14.5523 13 15 12.5523 15 12V3C15 2.44772 14.5523 2 14 2H1ZM1 3L14 3V3.92494C13.9174 3.92486 13.8338 3.94751 13.7589 3.99505L7.5 7.96703L1.24112 3.99505C1.16621 3.94751 1.0826 3.92486 1 3.92494V3ZM1 4.90797V12H14V4.90797L7.74112 8.87995C7.59394 8.97335 7.40606 8.97335 7.25888 8.87995L1 4.90797Z"
                        fill="#000000" />
                    </svg>
                  </div>
                  <div class="contact-text">
                    <h5>Email</h5>
                    <a href="mailto:jocelyn@allfolio.com">jocelyn@allfolio.com</a>
                  </div>
                </li>
                <li class="contact-list-item">
                  <div class="contact-icon">
                    <svg width="26" height="32" viewBox="0 0 26 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12.7772 2.07043C6.86403 2.07043 2.07043 6.86403 2.07043 12.7772C2.07043 16.7567 4.06977 20.5393 6.47635 23.6326C8.87009 26.7094 11.5718 28.9827 12.7689 29.923C12.7726 29.9259 12.7754 29.9276 12.7772 29.9286C12.7791 29.9276 12.7819 29.9259 12.7856 29.923C13.9827 28.9827 16.6844 26.7094 19.0781 23.6326C21.4847 20.5393 23.4841 16.7567 23.4841 12.7772C23.4841 6.86403 18.6905 2.07043 12.7772 2.07043ZM0 12.7772C0 5.72057 5.72057 0 12.7772 0C19.8339 0 25.5545 5.72057 25.5545 12.7772C25.5545 17.4276 23.2374 21.6582 20.7123 24.9039C18.1743 28.1662 15.3289 30.558 14.0646 31.5512C13.3028 32.1496 12.2517 32.1496 11.4899 31.5512C10.2255 30.558 7.38021 28.1662 4.84221 24.9039C2.31706 21.6582 0 17.4276 0 12.7772Z"
                        fill="#17161A" />
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12.7775 8.78015C10.5699 8.78015 8.78039 10.5697 8.78039 12.7772C8.78039 14.9848 10.5699 16.7743 12.7775 16.7743C14.985 16.7743 16.7746 14.9848 16.7746 12.7772C16.7746 10.5697 14.985 8.78015 12.7775 8.78015ZM6.70996 12.7772C6.70996 9.42624 9.42648 6.70972 12.7775 6.70972C16.1285 6.70972 18.845 9.42624 18.845 12.7772C18.845 16.1282 16.1285 18.8447 12.7775 18.8447C9.42648 18.8447 6.70996 16.1282 6.70996 12.7772Z"
                        fill="#17161A" />
                    </svg>
                  </div>
                  <div class="contact-text">
                    <h5>Address</h5>
                    <p>1234 Divi St. #100, San <br>Francisco, CA 93150</p>
                  </div>
                </li>
              </ul>
              <div class="working-hours">
                <h3>Working Hours</h3>
                <ul class="working-hours-info">
                  <li class="working-hours-item">
                    <span>Monday – Friday :</span>
                    <span>10am – 9pm</span>
                  </li>
                  <li class="working-hours-item">
                    <span>Saturday :</span>
                    <span>10am – 3pm</span>
                  </li>
                  <li class="working-hours-item">
                    <span>Sunday :</span>
                    <span>2pm – 9pm</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Book an Appointment Section -->

    <!-- CTA Section -->
    <section class="cta-area-3 cta-area-4 position-relative section-padding-xl z-1 pb-0 ms-0">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title section-tag mb-45">
              <h2 class="title-text">Let's start something <br>completely new together</h2>
            </div>
          </div>
        </div>
        <div class="row align-items-end">
          <div class="col-md-6 col-lg-8">
            <div class="section-title section-tag">
              <p class="cta-text">Drop us a line, and we'll get in touch. <br>
                We'll see if we're a match and how we can help each other.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="cta-btn-wrapper">
              <a href="contact.html" class="theme-btn">Contact Us <i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
          </div>
        </div>
        <hr>
        <div class="row align-items-center justify-content-between">
          <div class="col-md-4">
            <div class="cta-info">
              <span>E-MAIL</span>
              <a href="mailto:hello@allfolio.com">hello@allfolio.com</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="cta-info">
              <span>PHONE NUMBER</span>
              <a href="tel:1234567890">+123 456 7890</a>
            </div>
          </div>
          <div class="col-md-4 text-md-end">
            <div class="footer-img">
              <img src="img/logo.png" alt="Image">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- CTA Section -->
  </div>

  <!-- footer -->
  <footer class="footer-area-4 footer-area-5 position-relative z-1 pt-60 pb-55">
    <div class="container">
      <div class="row align-content-center justify-content-between">
        <div class="col-lg-6 col-md-7">
          <div class="copyright-text ps-0">
            <span>Allfolio - All right reserved</span>
            <a href="#">Privacy Policy</a>
          </div>
        </div>
        <div class="col-lg-6 col-md-5">
          <div class="social-link d-flex justify-content-md-end">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-dribbble"></i></a>
            <a href="#"><i class="fab fa-behance"></i></a>
          </div>
        </div>
      </div>
    </div>
    <img src="img/home_eight/shape/shape9.png" alt="" class="position-absolute bottom-0 end-0 z-n1">
  </footer>
  <!-- footer end -->

  <!-- Back to top button -->
  <a id="back-to-top" title="Back to Top"></a>

  <!-- JS here -->
  <script src="js/jquery-3.6.0.min.js"></script>
  <script src="js/preloader.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/swiper-bundle.min.js"></script>
  <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="js/splitting.min.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.counterup.min.js"></script>
  <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
  <script src="js/jquery.nice-select.min.js"></script>
  <script src="js/fancybox.umd.js"></script>
  <script src="js/flatpickr.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/script.js"></script>
</body>

</html>