{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% load cache %}
{% block header %}

    <title>{{ SITE_NAME }} | {{ SITE_DESCRIPTION }}</title>
    <meta name="description" content="{{ SITE_SEO_DESCRIPTION }}"/>
    <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:title" content="{{ SITE_NAME }}"/>
    <meta property="og:description" content="{{ SITE_DESCRIPTION }}"/>
    <meta property="og:url" content="{{ SITE_BASE_URL }}"/>
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>
{% endblock %}
{% block content %}
    <!-- Banner Section -->
    <section class="banner-area-4 pt-5">
      <div class="container" style="margin-top:50px">
          <div class="row align-items-center">
              <div class="col-xl-8 col-lg-9">
                  <div class="banner-content banner-content-typing">
                      <small class="wow fadeInUp banner-subtitle">{% translate "به وبسایت من، هانی ادیب آزاد خوش آمدید." %} {{ SITE_NAME }}</small>
                      <h1 class="cd-headline clip home-headline">{% translate "این سایت تاسیس شده برای" %}
                          <small class="cd-words-wrapper single-headline">
                              <span class="is-visible"><b>{% translate "کوچینگ" %}</b> {% translate "کسب و کارها" %} </span>
                              <span class="is-hidden"> <b>{% translate "کوچینگ" %}</b> {% translate "شخصی" %}</span>
                          </small>
                      </h1>
                      <p class="wow fadeInUp mt-30" data-wow-delay="0.5s">{{ SITE_DESCRIPTION }}</p>
                      <div class="allfolio-btn-group d-flex align-items-center">
                          <a href="{% url 'website:contact'%}" class="theme-btn btn-big">{% translate "با من در ارتباط باشید" %}</a>
                          <a href="{% url 'website:resume'%}" class="theme-btn theme-btn-outline-white btn-big">{% translate "دریافت رزومه" %}</a>
                      </div>
                      <div class="header_contact_info">
                          <div class="item">
                              <small class="label">{% translate "Email" %}</small>
                              <a href="mailto:haniadibazad@gmail.com">haniadibazad@gmail.com</a>
                          </div>
                          <div class="item">
                              <small class="label">{% translate "Phone" %}</small>
                              <a href="tel:989122854353">09122844353</a>
                          </div>
                          <div class="item">
                              <small class="label">{% translate "Location" %}</small>
                              <p>{% translate "Iran, Tehran" %}</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 d-lg-block">
                  <div class="banner-img-two">
                      <div class="shape wow slideInnew" data-wow-delay="0.7s">
                          <img class="layer" data-depth="-0.15" src="{% static 'img/man2.png' %}" alt="">
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <img src="{% static 'img/home_four/banner_text.png' %}" alt="" class="banner-shape wow fadeInRight" data-wow-delay="1s">
    </section>
    <!-- Banner Section -->
    <section class="banner-area-2 banner-area-7" id="home">
        <div class="container m-w-80">
            <div class="row">
            <div class="d-flex align-items-center col-lg-7 text-center text-lg-start">
                <div class="banner-content">
                    <h1 class="site-title wow fadeInUp"><a href="/" title="{{ SITE_NAME }}" rel="home">{{ SITE_NAME }}</a>
                    </h1>
                    <h2 class="site-description wow fadeInUp">{{ SITE_DESCRIPTION }}</h2>
                <p class="mt-30 wow fadeinUp" data-wow-delay="0.5s">
                    {% blocktranslate trimmed %}
                    ساعت 4:15  بامداد از خواب بیدار می شدم تا بتونم 4:45 دقیقه با کمی پیاده روی به مسیر سرویس کارخانه برسم، یک جیپ قدیمی که من و تعدادی دیگر از کارگرها را در مسیر خودش سوار می کرد و ما رو بعد از بیش از یکساعت به حومه شهر می رسوند به کارگاه؛ قبل 6 بامداد و حدود طلوع خورشید می رسیدیم کارگاه و کار شروع می شد، بلافاصله بدون صرف حتا یک چای؛
                    {% endblocktranslate%}

                </p>
                <div class="banner-btn wow fadeInUp" data-wow-delay="0.6s">
                    <a href="{% url 'website:contact' %}" class="theme-btn theme-btn-outline btn-outline-black">{% translate 'درباره من، "هانی ادیب آزاد"' %}</a>
                </div>
                </div>
            </div>
            <div class="col-lg-5 text-md-end">
                <div class="banner-right-content">
                <div class="banner-img wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{% static 'img/about-us1.png' %}" alt="Image" />
                    {% comment %} <img src="{% static 'img/about-us1.png' %}" alt="Shape" class="shape2 d-none d-md-block" /> {% endcomment %}
                </div>
                <div class="right-content">
                    <p>
                    {% blocktranslate trimmed %}
                    “اون موقع ها از اینکه اخراج شده بودم خیلی ناراحت و تا حدودی خشمگین بودم اما حالا نه، سال هاست که دیگر ناراحت آن اخراج نیستم و از اینکه در آنجا پایبند نشدم خوشحالم.”
                    {% endblocktranslate%}
                    </p>
                    <div class="signature text-end">
                    <span>{% translate 'Hani AdibAzad' %}</span>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- Banner Section -->
    <!-- About Section -->
    <section class="about-area-6 position-relative section-padding-xl">
        <div class="container m-w-80">
          <div class="row align-content-center">
            <div class="col-12 col-lg-6 col-xl-5">
              <div class="about-left-content wow fadeInUp">
                <h2>{% translate 'من هانی ادیب آزاد هستم...' %} <br /><span>{% translate '' %}</span></h2>
                <p class="pt-2">
                  {% blocktranslate trimmed %}
                  برای شناخت بهتر باید عرض کنم که یک وجه دیگر هم دارم و آن علاقه به همراهی، راهنمایی و مشاوره به افرادی ست که مایل هستند کسب و کار خودشان رو بسازن، در دنیای کارمندی خودشون پیشرفت کنن، شرایط کسب و کار خود را بهبود بدهن و یا حتا تفکرشون را برای ارتقا کیفیت زندگی تغییر بدهن. این همان کوچینگی است که این روزها بسیار مد شده و البته بسیاری هم به حق و نا حق کوچ و مربی و راهبر شده اند، من هم یکی از صدها، با این تفاوت که من اصول موفقیت در کسب و کار را تجربه کرده ام و گام به گام پیش رفتم و موفق شدم شرکتی رو بیش از 15 سال اداره کنم، تثبیت کنم و ارتقا بخشم. به تنهایی انجامش ندادم اما شما هم تنها نیستید، اگر در کنار همراهی خانواده و دوستان و اراده خودتون اگر، تجربه  فردی سرد و گرم چشیده رو هم در کنارتون داشته باشین، بسیار امیدوار خواهم بود که شما هم موفق شوید و بدین طریق دیگر نیازی به اختراع مجدد چرخ را نداشته باشید بلکه چرخ کارآمد خودتون رو بهینه کنین.  
                  {% endblocktranslate %}
                </p>
                <p>

                </p>
                <a href="{% url 'website:about'%}" class="theme-btn">{% translate 'درباره من' %}</a>
              </div>
            </div>
            <div class="col-12 col-lg-6 offset-xl-1">
              <div class="about-right-content">
                <div class="row g-0">
                  <div class="col-sm-6 wow fadeInUp">
                    <div class="about-counter-box bg-white">
                      <h2 class="counter">20</h2>
                      <div class="counter-title">
                        <span>{% translate '' %} <br />{% translate 'تدریس در صنایع مختلف' %}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="about-counter-box">
                      <div class="counter-logo">
                        <img src="{% static 'img/LOGO.png' %}" alt="Logo" />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="about-counter-box">
                      <h2><span class="counter">60</span>%</h2>
                      <div class="counter-title">
                        <span>{% translate 'میزان موفقیت' %}<br>{% translate 'افراد و بیزینس های کوچ شده' %}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
                    <div class="about-counter-box bg-white">
                      <h2><span class="counter">15</span></h2>
                      <div class="counter-title">
                        <span>{% translate 'تعداد افراد کوچ شده' %} <br>{% translate '' %}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
      <!-- About Section -->
  
    <!-- Service Section -->
    <section class="service-area-2 position-relative section-padding-xl bg-white-100">
      <div class="container m-w-80">
        <div class="row">
          <div class="col-12 col-md-9 col-lg-6 col-xl-5">
            <div class="section-title wow fadeInUp">
              <h2>{% translate "بخش خدمات" %}</h2>
              
              <p>
                {% blocktranslate %}
                کار ما اینجا همان کوچینگی است که این روزها بسیار مد شده و البته بسیاری هم به حق و نا حق کوچ و مربی و راهبر شده اند، من هم یکی از صدها، با این تفاوت که من اصول موفقیت در کسب و کار را تجربه کرده ام و گام به گام پیش رفتم و موفق شدم شرکتی رو بیش از 15 سال اداره کنم، تثبیت کنم و ارتقا بخشم. 
                {% endblocktranslate %}
              </p>
            </div>
          </div>
        </div>
        <div class="row gx-xl-60">
          <div class="col-md-6 col-lg-4">
            <div class="service service-item-2 wow fadeInUp" data-wow-delay="0.1s">
              <div class="service-icon">
                <img src="{% static 'img/individual-coaching.png' %}" alt="Icon" />
              </div>
              <div class="service-title">
                  <h3>{% translate "مشاوره کسب و کار فردی" %}</h3>
              </div>
                <p>
                    {% blocktranslate trimmed %}
                    این بخش مربوط همراهی، راهنمایی و مشاوره به افرادی ست که مایل هستند کسب و کار خودشان رو بسازند، شرایط کسب و کار خود را بهبود بدهند و یا حتی تفکر کسب و کار خود را تغییر بدهند. ...
                    {% endblocktranslate %}
                </p>
                <a href="service.html" class="btn btn-white-100 btn-round">{% translate "مطالعه..." %}</a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="service service-item-2 wow fadeInUp" data-wow-delay="0.1s">
              <div class="service-icon">
                <img src="{% static 'img/team-coaching.png' %}" alt="Icon" />
              </div>
              <div class="service-title">
                  <h3>{% translate "مشاوره تیم کسب و کار" %}</h3>
              </div>
                <p>
                    {% translate "این بخش مربوط به همراهی، راهنمایی و مشاوره به تیم ها و شرکت ها ست که مایل هستند کسب و کار خودشان رو بسازند، ارتقا دهند، شرایط کسب و کار فعلی خود را بهبود بدهند و یا حتا تفکر کسب و کار خود را تغییر بدهند. ..." %}
                </p>
                <a href="service.html" class="btn btn-white-100 btn-round">{% translate "مطالعه..." %}</a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="service service-item-2 wow fadeInUp" data-wow-delay="0.1s">
              <div class="service-icon">
                <img src="{% static 'img/personal-coaching.png' %}" alt="Icon" />
              </div>
              <div class="service-title">
                  <h3>{% translate "مشاوره اشخاص" %}</h3>
              </div>
              <p>
                {% translate "این بخش مربوط به همراهی، راهنمایی و مشاوره به افرادی ست که مایل هستند کسب و کار خودشان رو بسازند، در دنیای کارمندی خودشون پیشرفت کنن و یا حتا شجاعت تغییر زمینه کاری خود را پیدا کنند و زندگی را به سمت آنچه که به آن علاقه مندند تغییر بدهند. ..." %}
              </p>
              <a href="service.html" class="btn btn-white-100 btn-round">{% translate "مطالعه..." %}</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Service Section -->


    <!-- FAQs Section -->
    <section class="faq-area position-relative section-padding-xl">
      <div class="container m-w-90">
        <div class="row">
          <div class="col-md-6 col-xl-5 wow fadeInLeft">
            <div class="faq-left-content">
              <h2 class="mt-n12">{% translate "تجربه های من در کوچینگ…" %}</h2>
              <div class="faq-image position-relative">
                <img src="{% static 'img/man3.jpg' %}" alt="{% translate "FAQ" %}" />
                <div class="play-button">
                  <a href="https://www.youtube.com/watch?v=CaimKeDcudo" data-fancybox>
                    <i class="fas fa-play"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

        <div class="col-md-6 col-xl-6 wow fadeInRight">
          <div class="faq-right-content">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item faq-accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    {% translate "تجربه های کوچینگ من" %}
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse show"
                  aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    {% blocktranslate trimmed %}
                    برای عضویت در هیات مدیره شرکت هایی که می خواستند هر یک تاسیس کنند از من دعوت شد، این موضوع فارغ از اهمیت تجاری از نظر عاطفی و شغلی برای من بسیار ارزشمند بود. 5 سالی می شد که برای ساخت شغل و کسب و کارشون همراهی داشتم؛ با پشتکار، جسارت و عزم راسخ از کلی پستی و بلندی، سختی و فشار و بی مهری و بی معرفتی مخاطبین از مشتری گرفته تا همکار با سر بلندی رد شده بودند و به خوبی آنها را پشت سر گذشته بودند، نه اینکه حالا با آسودگی و بدون تلاش و نیاز به وجود اراده، مسیر کسب و کارشون پیش می رفت ؛ نه، اما الان هم خودشون و هم کسب و کارشون دارای انسجام شده بود و این برای من بسیار ارزشمند بود. 
                  از سینا و گندم برای همراهی هاشون سپاسگزارم، از جدیت و پشتکار و تعهدی که برای ساختن داشتند و دارند سپاسگزارم و از اینکه با محبت و لطف همچنان از من برای تداوم حضورم  در کسب و کارشون دعوت کردند هم سپاسگزارم.
                  این هم از نظر عاطفی و هم از نظر شغلی برای من از اهمیت خاصی برخوردار است چرا که نشان می دهد که من می توانم در آنچه آنها با همراهی هم ساخته ایم، شریک باشم. قدردان، قدردانی آنها از سال ها همراهی هستم و صد البته خوشحال از ساخته شدن یک کسب و کار دیگر چرا که ساخت یک کسب و کار یک فرد یا افرادی را از حالت انفعال شغلی به اشخاصی مولد در کار تبدیل می کند.  
                  زمانی که با هم شروع کردیم هیچ تضمینی برای موفقیت نبود اما وقتی پیش رفتیم ضمانت های کسب موفقیت یواش یواش خودشون رو نشون دادن، جدیت بچه ها در پیگیری، عدم اهمال کاری در اقداماتی که پیش رو داشتند، خلاقیت خودشون در پیدا کردن راه کارها و عدم توقف در هنگام شکست ها، نشانه های روشنی بودند از امکان ایجاد شانس رخدادن موفقیت.
                  و همینطور هم شد، موفقیت های کوچک، آهسته و گهگاه، در میان کوهی از مشکلات و سختی ها خودی نشون دادند و انگیزه ایی شدند برای پیش رفتن، با هر اقدام شانس پیش آمدن فرصت موفقیت بیشتر و بیشتر ایجاد می شد و این روندی بود که به صورت متداوم پیگیری و اقدام می شد. 
                             
                    {% endblocktranslate %}
                  </div>
                </div>
              </div>
              <div class="accordion-item faq-accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-headingOne">
                    {% translate "مشاهده کامل این بخش" %}
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    {% blocktranslate trimmed %}
                    برای عضویت در هیات مدیره شرکت هایی که می خواستند هر یک تاسیس کنند از من دعوت شد، این موضوع فارغ از اهمیت تجاری از نظر عاطفی و شغلی برای من بسیار ارزشمند بود. 5 سالی می شد که برای ساخت شغل و کسب و کارشون همراهی داشتم؛ با پشتکار، جسارت و عزم راسخ از کلی پستی و بلندی، سختی و فشار و بی مهری و بی معرفتی مخاطبین از مشتری گرفته تا همکار با سر بلندی رد شده بودند و به خوبی آنها را پشت سر گذشته بودند، نه اینکه حالا با آسودگی و بدون تلاش و نیاز به وجود اراده، مسیر کسب و کارشون پیش می رفت ؛ نه، اما الان هم خودشون و هم کسب و کارشون دارای انسجام شده بود و این برای من بسیار ارزشمند بود. 
                    از سینا و گندم برای همراهی هاشون سپاسگزارم، از جدیت و پشتکار و تعهدی که برای ساختن داشتند و دارند سپاسگزارم و از اینکه با محبت و لطف همچنان از من برای تداوم حضورم  در کسب و کارشون دعوت کردند هم سپاسگزارم.
                    این هم از نظر عاطفی و هم از نظر شغلی برای من از اهمیت خاصی برخوردار است چرا که نشان می دهد که من می توانم در آنچه آنها با همراهی هم ساخته ایم، شریک باشم. قدردان، قدردانی آنها از سال ها همراهی هستم و صد البته خوشحال از ساخته شدن یک کسب و کار دیگر چرا که ساخت یک کسب و کار یک فرد یا افرادی را از حالت انفعال شغلی به اشخاصی مولد در کار تبدیل می کند.  
                    زمانی که با هم شروع کردیم هیچ تضمینی برای موفقیت نبود اما وقتی پیش رفتیم ضمانت های کسب موفقیت یواش یواش خودشون رو نشون دادن، جدیت بچه ها در پیگیری، عدم اهمال کاری در اقداماتی که پیش رو داشتند، خلاقیت خودشون در پیدا کردن راه کارها و عدم توقف در هنگام شکست ها، نشانه های روشنی بودند از امکان ایجاد شانس رخدادن موفقیت.
                    و همینطور هم شد، موفقیت های کوچک، آهسته و گهگاه، در میان کوهی از مشکلات و سختی ها خودی نشون دادند و انگیزه ایی شدند برای پیش رفتن، با هر اقدام شانس پیش آمدن فرصت موفقیت بیشتر و بیشتر ایجاد می شد و این روندی بود که به صورت متداوم پیگیری و اقدام می شد. 
                    <br />
                    <br />
                    حضور در کنار گندم و سینا اولین فرصت همراهی من برای راهنمایی دوستانم نبود قبل او خانم کاشی بود و خانم فیضی و ... بعد از آنها هم آقای بختیاری و خانم گندم آبادی و خانم برنو و آقای اشعری و دیگر دوستان اما ماجرا بیش از اینها قدیمی است.
                    در دوران کودکی و نوجوانی در محله ای که زندگی می کردیم، بزرگ کوچکترها بودم و کوچک بزرگترها... تعجب نکنید از روی غرور بر کوچکترها، بزرگی نمی کردم و از روی ناتوانی، در مقابل بزرگترها خودم را کوچک بر نمی شمردم، بلکه هیچ کدام از بچه های محل دقیقا هم سن من نبودند یعنی هنگامی که با گروه بچه های بزرگتر همراه می شدم از همه کوچکتر بودم و هنگامی که با گروه بچه های کوچکتر بازی می کردم از همه بزرگتر.... شرایط جالبی بود در جایی یاد می گرفتم و تلاش می کردم تا خودی نشون بدم تا مورد قبول جمع بزرگترها باشم و در عین حال در بین کوچکترها، رهبری می کردم و سروری. 
                    در این میان آموختم که برای پذیرفته شدن در بین بزرگان نباید بر روی محبت و لطف آنها حساب کنم بلکه باید شایستگی خودم را نشان بدهم و از طرف دیگه نباید بر روی سن بالاتر یا زور بیشترم برای رهبری بر کوچکترها  تاکید کنم بلکه باید بر کاردانی و لیاقتم در این جایگاه بیافزایم.
                    اولین درس مربی بودن نه در کتاب و دانش اکتسابی از تئوری بلکه از تجربه کردن و کسب دانش عملی برایم فراهم شد. این شاید همان تفاوت من بود با بسیاری از دیگر کوچ هایی که در واقع آن مسیر و روند رشد را نزیسته بودند بلکه فقط آنرا آموخته بودند.
                    من رسم کوچینگ زندگی و کسب و کار را تجربه کردم هرچند که برای آموختن بیشتر و عمق دادن بر تجربیات کسب کرده هم مطالعه داشتم، هم گفتگو... هم خوب می دیدم و هم خوب می شنیدیم... 
                    دانشگاهم در شهرستان بود و من در رفت و آمد بین شهری در این دوران اقدامی که همیشه انجام می دادم، باز کردن باب گفتگو با فرد کناری ام بود هنگامی که هر دو در اتوبوس بین شهری نشسته ایم و کلی وقت گفتگو داریم، از روستایی و کشاورز گرفته تا استاد دانشگاه و روحانی ... مردمان عادی که موضوعات زندگی خود را با من به اشتراک می گذاشتن و من این شانس را داشتم که از نگاه آنها به دنیا بنگرم، این یک فرصت بزرگ بود چرا که از تجربیات آنها مطلع می شدم.
                    برای تصمیم گیری در زندگی ام و بعدها در کسب و کارم، داشتن پشتوانه شناختی متعدد کمک کننده بود.
                    از برگزاری تئاترهای یک نفره برای بچه های محله و فامیل در نوجوانی تا مربیگری تیم فوتسال در دانشگاه و همراهی در گرداندن گروه فرهنگی در اوایل جوانی، از مدیریت کارگرهای کارخانه سنگ کوبی در اولین تجربه شغلی ام تا مدیریت شرکت خودم، همیشه درگیر اقدام بودم ... برای هر اقدامی نیاز به تصمیم هست و برای هر تصمیمی نیاز به اراده.
                    <br />
                    <br />

                    آموختم که برای رشد نیاز به اقدام هست و این اقدام نمی تواند بدون وجود اراده محقق شود، برای همین در هر حال آنچه که به همراهانم منتقل می کنم جرقه زدن ، روشن شدن، افروختن و شعله ور شدن نیروی اراده آنان است. 
                    با اراده مهیا و در اختیار، می توانیم بر روی مسیر و الزامات طی آن صحبت کنیم.
                    این آموخته هرچند بدیهی است اما بارها و بارها با از دست رفتن انگیزه، با مخالفت جامعه و دوستان، با عدم کسب موفقیت پیش بینی شده، با ضربات عاطفی و یا شکست های مالی و با هزاران مورد دیگر درونی و بیرونی مورد تهدید قرار می گیرد. در مقام مقایسه، بالا نگهداشتن اراده هم تیمی ها برای مقابله با تیمی قوی تر و ایجاد روحیه " خواستن " با برافروختن این نیرو، در فردی که منفعلانه زندگی می کند متشابه است. هر دو به " دلیل " برای برخیزیدن نیاز دارند و من بارها و بارها آنرا تجربه کرده ام، در تمرین، در مسابقه، در گفتگوهای سمن ( سازمان مردم نهاد ) و در محیط های رسمی شغلی و کار.
                    این تجربه را هم در جایگاه پذیرنده و هم در جایگاه ارایه دهنده کسب کردم که به نظرم سیری طبیعی برای آموختن و اندوختن تجربه است.
                    بدین دلیل هیچگاه همراهانم را مجبور به تسریع در اقدام نمی کنم و به ایشان اجازه آموختن و تجربه کردن می دهم اما در مسیر درست. سعی می کنم مسیر صحیح حرکت را با کمک خود ایشان ترسیم کنم و سپس از تجربه آموزی در این مسیر حمایت می کنم، فراز و فرود ها را سیر طبیعی برای بهتر شدن می دانم.
                    بدان ها تلاش برای موفقیت را می آموزانم، نه ادای موفق شدن و برای هر یک مسیر، شیوه و فرصت تجربه کردن های ویژه خودشان را که از همراهی فکری با خود ایشان ترسیم شده است را اختصاص می دهم و از ارایه پیشنهادات کلی و روش هایی دور از ویژگی های ایشان پرهیز می کنم.
                    تجربه های کوچینگم، مرا برای گونه دیگری از همراهی با مخاطبینم آماده کرده است؛ شیوه و روش من در کوچینگ صبورانه و گام به گام است چرا که به ساختن فرگشت گونه، مطابق طبیعت اعتقاد دارم. روشی که اگر پشتکار داشته باشید مهارت هایی را در شما ایجاد می کند که می توانید برای همیشه به آنها اتکا کنید.
                    <br />
                    <br />
                    <br />
                    هانی ادیب آزاد
                    دیماه 1403
                               
                    {% endblocktranslate %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    </section>
    <!-- FAQs Section -->

    <!-- Testimonials Section -->
    <section class="testimonial-area testimonial-area-8 bg-white-100 section-padding-xl">
      <div class="container m-w-80">
        <div class="row">
          <div class="col-12">
            <div class="section-title wow fadeInUp">
              <h2 class="mt-n12">{% translate 'نظرات دوستان و همراهان'%}</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonial-slider-active swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonial testimonial-item">
              <span class="category">{%  translate 'همراهان'%}</span>
              <h3 class="testimonial-title">{% translate 'ممنونم از همه زحمات تیم زربین و مهندس ادیب آزاد'%}</h3>
              <span class="testimonial-subtitle">
                {% translate 'مدیرعامل شرکت طراحی سایت دئودار'%}
              </span>
              <div class="author-name">
                <img src="{% static 'img/home_eight/author/author.png' %}" alt="Image" class="author-img">
                <span class="author-title">{% translate 'sina afshar' %}</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial testimonial-item">
              <span class="category">{%  translate 'همراهان'%}</span>
              <h3 class="testimonial-title">{% translate 'ممنونم از همه زحمات تیم زربین و مهندس ادیب آزاد'%}</h3>
              <span class="testimonial-subtitle">
                {% translate 'مدیرعامل شرکت طراحی سایت دئودار'%}
              </span>
              <div class="author-name">
                <img src="{% static 'img/home_eight/author/author.png' %}" alt="Image" class="author-img">
                <span class="author-title">{% translate 'sina afshar' %}</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial testimonial-item">
              <span class="category">{%  translate 'همراهان'%}</span>
              <h3 class="testimonial-title">{% translate 'ممنونم از همه زحمات تیم زربین و مهندس ادیب آزاد'%}</h3>
              <span class="testimonial-subtitle">
                {% translate 'مدیرعامل شرکت طراحی سایت دئودار'%}
              </span>
              <div class="author-name">
                <img src="{% static 'img/home_eight/author/author.png' %}" alt="Image" class="author-img">
                <span class="author-title">{% translate 'sina afshar' %}</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial testimonial-item">
              <span class="category">{%  translate 'همراهان'%}</span>
              <h3 class="testimonial-title">{% translate 'ممنونم از همه زحمات تیم زربین و مهندس ادیب آزاد'%}</h3>
              <span class="testimonial-subtitle">
                {% translate 'مدیرعامل شرکت طراحی سایت دئودار'%}
              </span>
              <div class="author-name">
                <img src="{% static 'img/home_eight/author/author.png' %}" alt="Image" class="author-img">
                <span class="author-title">{% translate 'sina afshar' %}</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial testimonial-item">
              <span class="category">{%  translate 'همراهان'%}</span>
              <h3 class="testimonial-title">{% translate 'ممنونم از همه زحمات تیم زربین و مهندس ادیب آزاد'%}</h3>
              <span class="testimonial-subtitle">
                {% translate 'مدیرعامل شرکت طراحی سایت دئودار'%}
              </span>
              <div class="author-name">
                <img src="{% static 'img/home_eight/author/author.png' %}" alt="Image" class="author-img">
                <span class="author-title">{% translate 'sina afshar' %}</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial testimonial-item">
              <span class="category">{%  translate 'همراهان'%}</span>
              <h3 class="testimonial-title">{% translate 'ممنونم از همه زحمات تیم زربین و مهندس ادیب آزاد'%}</h3>
              <span class="testimonial-subtitle">
                {% translate 'مدیرعامل شرکت طراحی سایت دئودار'%}
              </span>
              <div class="author-name">
                <img src="{% static 'img/home_eight/author/author.png' %}" alt="Image" class="author-img">
                <span class="author-title">{% translate 'sina afshar' %}</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial testimonial-item">
              <span class="category">{%  translate 'همراهان'%}</span>
              <h3 class="testimonial-title">{% translate 'ممنونم از همه زحمات تیم زربین و مهندس ادیب آزاد'%}</h3>
              <span class="testimonial-subtitle">
                {% translate 'مدیرعامل شرکت طراحی سایت دئودار'%}
              </span>
              <div class="author-name">
                <img src="{% static 'img/home_eight/author/author.png' %}" alt="Image" class="author-img">
                <span class="author-title">{% translate 'sina afshar' %}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="navigation">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </section>
    <!-- Testimonials Section -->

    <!-- Timelines Section -->
    <section class="timeline-area pt-105 pb-100">
        <div class="container m-w-80">
            <div class="section-title text-center wow fadeInUp" data-wow-delay="0.1s">
                <h2>{% translate 'فرآیند مشاوره و راهبری:' %}</h2>
            </div>
            <div class="timeline-widget mt-70">
                <div class="timeline-wrapper timeline-inverted wow fadeInUp" data-wow-delay="0.1s">
                    <div class="timestamp">{% translate 'مرحله یک' %}</div>
                    <div class="timeline-panel">
                        <h3>{% translate 'ارائه درخواست' %}</h3>
                        <span>{% translate 'بررسی اولیه درخواست ارائه شده توسط تیم' %}</span>
                        <p>
                            {% blocktranslate trimmed %}
                            در این مرحله در صورت قبول درخواست با مخاطب تماس گرفته و می شود و مرحله دوم کار آغاز می شود
                            
                            {% endblocktranslate %}
                        </p>
                    </div>
                </div>
                <div class="timeline-wrapper timeline-inverted wow fadeInUp" data-wow-delay="0.1s">
                    <div class="timestamp">{% translate 'مرحله دو' %}</div>
                    <div class="timeline-panel">
                        <h3>{% translate 'گفتگو با مخاطب' %}</h3>
                        <span>{% translate 'دعوت به جلسه حضوری یا تماس تلفنی' %}</span>
                        <p>
                            {% blocktranslate trimmed %}
                            در این جلسه به صورت کلی برای مخاطب اهداف کلی در نظر گرفته خواهد شد و مخاطب بوسیله کار عملی سنجیده خواهد شد
                            {% endblocktranslate %}
                        </p>
                    </div>
                </div>
                <div class="timeline-wrapper  timeline-inverted wow fadeInUp" data-wow-delay="0.1s">
                    <div class="timestamp">{% translate 'مرحله سه' %}</div>
                    <div class="timeline-panel">
                        <h3>{% translate 'بازنگری و آغاز فرایند راهبری' %}</h3>
                        <span>{% translate 'بررسی اهداف در نظر گرفته شده' %}</span>
                        <p>
                            {% blocktranslate trimmed %}
                            در این مرحله میزان درستی اهداف تعیین شده سنجش می شود و در صورت صحت اهداف، فرایند راهبری آغاز می شود
                            {% endblocktranslate %}
                        </p>
                    </div>
                </div>
                <div class="timeline-wrapper  timeline-inverted wow fadeInUp" data-wow-delay="0.1s">
                    <div class="timestamp">{% translate 'مرحله چهارم' %}</div>
                    <div class="timeline-panel">
                        <h3>{% translate 'بررسی نتایج' %}</h3>
                        <span>{% translate 'بررسی نتایج اهداف تعیین شده در مراحل قبل' %}</span>
                        <p>
                            {% blocktranslate trimmed %}
                            هر گام و بخشی که به پیش می رود و نتایجی از آن حاصل می گردد که بر اهداف نهایی و یا زمان بندی پیش بینی شده تاثیر گذار می گردند می بایستی که مورد بررسی قرار گیرند.
                            {% endblocktranslate %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Timelines Section -->

    <!-- Book an Appointment Section -->
    <section class="booking-area z-1 section-padding-xl pt-0">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="booking-form wow fadeInLeft" data-wow-delay="0.2s">
              <h2 class="mb-4 mt-n12">{% translate 'ارسال درخواست مصاحبه' %}</h2>
              <form action="#">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="name" class="form-label">{% translate 'نام شما' %}</label>
                      <input type="text" id="name" class="form-control" placeholder="{% translate 'نام کامل شما' %}">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="basicDate" class="form-label form-date">{% translate 'تاریخ تولد' %}</label>
                      <div class="form-calender position-relative">
                        <input type="text" class="form-control" id="basicDate" placeholder="MM/DD/YYYY" data-input style="text-align: center;">
                        <div class="form-icon">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M20.5 8H3.5M6 21H18C19.6569 21 21 19.6569 21 18V8C21 6.34315 19.6569 5 18 5H6C4.34315 5 3 6.34315 3 8V18C3 19.6569 4.34315 21 6 21Z"
                              stroke="#747376" stroke-width="1.3" stroke-linecap="round" />
                            <path d="M7.5 5V2.75" stroke="#747376" stroke-width="1.3" stroke-linecap="round"
                              stroke-linejoin="round" />
                            <path d="M16.5 5V2.75" stroke="#747376" stroke-width="1.3" stroke-linecap="round"
                              stroke-linejoin="round" />
                            <path
                              d="M8.25 17.5H6.75M8.25 14.5H6.75M8.25 11.5H6.75M12.75 17.5H11.25M12.75 14.5H11.25M12.75 11.5H11.25M17.25 17.5H15.75M17.25 14.5H15.75M17.25 11.5H15.75"
                              stroke="#747376" stroke-width="1.3" stroke-linecap="round" />
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="phone" class="form-label">{% translate 'شماره تماس' %}</label>
                      <input type="text" id="phone" class="form-control" placeholder="09120000000" style="text-align: center;">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label for="service" class="form-label">{% translate 'انتخاب خدمت مورد نظر' %}</label>
                      <select id="service" class="select">
                        <option data-display="{% translate 'انتخاب خدمت' %}">{% translate 'انتخاب خدمت' %}</option>
                        <option value="1">{% translate 'مشاوره کسب و کار فردی' %}</option>
                        <option value="2">{% translate 'مشاوره تیم کسب و کار' %}</option>
                        <option value="3" disabled>{% translate 'مشاوره اشخاص' %}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="availability" class="form-label">{% translate 'زمان مورد نظر برای هماهنگی' %}</label>
                      <div class="form-calender position-relative">
                        <input type="text" class="form-control" id="availability" placeholder="MM/DD/YYYY" data-input style="text-align: center;">
                        <div class="form-icon">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M20.5 8H3.5M6 21H18C19.6569 21 21 19.6569 21 18V8C21 6.34315 19.6569 5 18 5H6C4.34315 5 3 6.34315 3 8V18C3 19.6569 4.34315 21 6 21Z"
                              stroke="#747376" stroke-width="1.3" stroke-linecap="round" />
                            <path d="M7.5 5V2.75" stroke="#747376" stroke-width="1.3" stroke-linecap="round"
                              stroke-linejoin="round" />
                            <path d="M16.5 5V2.75" stroke="#747376" stroke-width="1.3" stroke-linecap="round"
                              stroke-linejoin="round" />
                            <path
                              d="M8.25 17.5H6.75M8.25 14.5H6.75M8.25 11.5H6.75M12.75 17.5H11.25M12.75 14.5H11.25M12.75 11.5H11.25M17.25 17.5H15.75M17.25 14.5H15.75M17.25 11.5H15.75"
                              stroke="#747376" stroke-width="1.3" stroke-linecap="round" />
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <button class="theme-btn" type="submit">{% translate 'ارسال فرم درخواست' %}</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6 col-xl-5 offset-xl-1 wow fadeInRight" data-wow-delay="0.2s">
            <div class="booking-right-content">
              <ul class="contact-list">
                <li class="contact-list-item">
                  <div class="contact-icon">
                    <svg width="20" height="32" viewBox="0 0 20 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M3.35544 1.77641C2.48336 1.77641 1.77641 2.48336 1.77641 3.35544V28.6446C1.77641 29.5166 2.48336 30.2236 3.35544 30.2236H15.6916C16.5637 30.2236 17.2706 29.5166 17.2706 28.6446V3.35544C17.2706 2.48336 16.5637 1.77641 15.6916 1.77641H14.0827L13.5864 3.0171C13.4515 3.35431 13.1249 3.57543 12.7618 3.57543H6.28527C5.92208 3.57543 5.59548 3.35431 5.4606 3.0171L4.96432 1.77641H3.35544ZM6.87757 1.77641L6.88662 1.79902H12.1604L12.1695 1.77641H6.87757ZM0 3.35544C0 1.50228 1.50228 0 3.35544 0H15.6916C17.5448 0 19.047 1.50228 19.047 3.35544V28.6446C19.047 30.4977 17.5448 32 15.6916 32H3.35544C1.50228 32 0 30.4977 0 28.6446V3.35544Z"
                        fill="#17161A" />
                    </svg>
                  </div>
                  <div class="contact-text">
                    <h5>{% translate 'شماره تماس' %}</h5>
                    <p>09122844353</p>
                  </div>
                </li>
                <li class="contact-list-item">
                  <div class="contact-icon">
                    <svg width="28px" height="28px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M1 2C0.447715 2 0 2.44772 0 3V12C0 12.5523 0.447715 13 1 13H14C14.5523 13 15 12.5523 15 12V3C15 2.44772 14.5523 2 14 2H1ZM1 3L14 3V3.92494C13.9174 3.92486 13.8338 3.94751 13.7589 3.99505L7.5 7.96703L1.24112 3.99505C1.16621 3.94751 1.0826 3.92486 1 3.92494V3ZM1 4.90797V12H14V4.90797L7.74112 8.87995C7.59394 8.97335 7.40606 8.97335 7.25888 8.87995L1 4.90797Z"
                        fill="#000000" />
                    </svg>
                  </div>
                  <div class="contact-text">
                    <h5>{% translate 'آدرس ایمیل' %}</h5>
                    <a href="mailto:haniadibazad@gmail.com">haniadibazad@gmail.com</a>
                </div>
                </li>
                <li class="contact-list-item">
                  <div class="contact-icon">
                    <svg width="26" height="32" viewBox="0 0 26 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12.7772 2.07043C6.86403 2.07043 2.07043 6.86403 2.07043 12.7772C2.07043 16.7567 4.06977 20.5393 6.47635 23.6326C8.87009 26.7094 11.5718 28.9827 12.7689 29.923C12.7726 29.9259 12.7754 29.9276 12.7772 29.9286C12.7791 29.9276 12.7819 29.9259 12.7856 29.923C13.9827 28.9827 16.6844 26.7094 19.0781 23.6326C21.4847 20.5393 23.4841 16.7567 23.4841 12.7772C23.4841 6.86403 18.6905 2.07043 12.7772 2.07043ZM0 12.7772C0 5.72057 5.72057 0 12.7772 0C19.8339 0 25.5545 5.72057 25.5545 12.7772C25.5545 17.4276 23.2374 21.6582 20.7123 24.9039C18.1743 28.1662 15.3289 30.558 14.0646 31.5512C13.3028 32.1496 12.2517 32.1496 11.4899 31.5512C10.2255 30.558 7.38021 28.1662 4.84221 24.9039C2.31706 21.6582 0 17.4276 0 12.7772Z"
                        fill="#17161A" />
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12.7775 8.78015C10.5699 8.78015 8.78039 10.5697 8.78039 12.7772C8.78039 14.9848 10.5699 16.7743 12.7775 16.7743C14.985 16.7743 16.7746 14.9848 16.7746 12.7772C16.7746 10.5697 14.985 8.78015 12.7775 8.78015ZM6.70996 12.7772C6.70996 9.42624 9.42648 6.70972 12.7775 6.70972C16.1285 6.70972 18.845 9.42624 18.845 12.7772C18.845 16.1282 16.1285 18.8447 12.7775 18.8447C9.42648 18.8447 6.70996 16.1282 6.70996 12.7772Z"
                        fill="#17161A" />
                    </svg>
                  </div>
                  <div class="contact-text">
                    <h5>{% translate 'آدرس' %}</h5>
                    <p>{% translate 'تهران خیابان سعدی جنوبی ' %}<br>{% translate 'نبش کوچه بوشهری پاساژ سلامت' %}</p>
                  </div>
                </li>
              </ul>
              <div class="working-hours">
                <h3>{% translate 'ساعات کاری' %}</h3>
                <ul class="working-hours-info">
                  <li class="working-hours-item">
                    <span>{% translate 'شنبه – چهارشنبه :' %}</span>
                    <span>{% translate '10 am – 4 pm' %}</span>
                  </li>
                  <li class="working-hours-item">
                    <span>{% translate 'پنجشنبه :' %}</span>
                    <span>{% translate 'تعطیل' %}</span>
                  </li>
                  <li class="working-hours-item">
                    <span>{% translate 'جمعه :' %}</span>
                    <span>{% translate 'تعطیل' %}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Book an Appointment Section -->

  </div>
<!-- <div>
    <h2>{% translate 'Featured Articles' %}</h2>
    <ul>
        {% for article in posts %}
            <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
        {% endfor %}
    </ul>
</div> -->
{% endblock %}
