{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% load cache %}

{% block header %}
    <title>{{ SITE_NAME }} | {{ SITE_DESCRIPTION }}</title>
    <meta name="description" content="{{ SITE_SEO_DESCRIPTION }}"/>
    <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:title" content="{{ SITE_NAME }}"/>
    <meta property="og:description" content="{{ SITE_DESCRIPTION }}"/>
    <meta property="og:url" content="{{ SITE_BASE_URL }}"/>
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>
{% endblock %}

{% block content %}
    <!-- Banner Section -->
    <section class="banner-area-4 pt-5">
        <div class="container" style="margin-top:100px">
            <div class="row align-items-center">
                <!-- محتوای بنر (مثلاً عنوان خوش‌آمدگویی) -->
                <div class="col-12 text-center justify-content-center">
                    <h1 class="display-4" style="color: white;">{{ books.title }}</h1>
                    <p class="" style="color: rgb(233, 233, 233);">By {{ books.author }} | {{ books.published_date|date:"F d, Y" }} | Views: {{ books.total_views }}</p>
                </div>
            </div>
        </div>
    </section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                {% if books.thumbnail %}
                    <img src="{{ books.thumbnail.url }}" alt="{{ books.title }}" class="img-fluid mb-3">
                {% endif %}
                <div class="book-content">
                    {{ books.content|safe }}
                </div>
            </div>
            <div class="col-md-4">
                <!-- {% if categories.exists %}
                    <h3>Categories</h3>
                    <ul>
                        {% for category in categories %}
                            <li><a href="{% url 'books:books-category' categories.slug %}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %} -->
                {% if tags %}
                    <h3>Tags</h3>
                {% endif %}
                {% if books %}
                    <h3>Related Books</h3>
                    <ul>
                        {% for book_related in books_related %}
                            <li><a href="{% url 'books:books_detail' book_related.slug %}">{{ book_related.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}