.booking-area {
    position: relative;
}

.booking-form {
    padding-top: 70px;
    
    @include lg {
        padding-top: 150px;
    }

    .form-group {
        margin-top: 30px;
        position: relative;
    }

    .form-label {
        color: #000;
        margin-bottom: 8px;
        display: block;
        cursor: pointer;
    }

    :is(.form-control, .select) {
        padding: 20px;
        border-color: #CCCCCE;
        font-size: 14px;
        line-height: 1;
        color: $black_400;
        background: var(--white_100);

        @include focus {
            border-color: $black_900 !important;
            background: $white;
        }
    }

    .select {
        width: 100%;
        height: 60px;
        line-height: 1.5;

        .list {
            width: 100%;
        }

        @include after {
            font-size: 25px;
        }
    }

    .form-icon {
        @include absolute(top 50% right 15px);
        transform: translateY(-50%);
    }

    .theme-btn {
        margin-top: 30px;
    }
}

.booking-right-content {
    background: $white;
    box-shadow: 0 40px 80px -20px rgba(131, 146, 167, 0.3);
    border-radius: 0 0 10px 10px;
    padding: 70px 20px;

    @include xl {
        padding: 150px 60px;
    }

    .contact-list {
        padding-left: 0;
    }

    .contact-list-item {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 25px;

        +.contact-list-item {
            margin-top: 35px;
        }

        h5 {
            font-size: 16px;
            font-weight: 500;
            line-height: 1;
            color: $black_500;
        }

        :is(p, a) {
            font-size: 20px;
            line-height: 1.4;
            color: $black_800;
            margin-bottom: 0;
        }
    }

    .working-hours {
        margin-top: 100px;

        h3 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .working-hours-info {
            margin: 0;
            padding: 0;
            
            @include lg {
                width: 78%;
            }


            li {
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: $black_600;
                line-height: 2;
                
                @include lg {
                    font-size: 20px;
                }
            }
        }
    }
}