.cta-area {
  .cta-shape {
    position: relative;
    display: inline-block;
    z-index: 1;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }

    .theme-btn {
      padding: 20px 68px;

      i {
        vertical-align: text-top;
      }
    }
  }
}

.cta-area-2 {
  background-color: #150f3c;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &.varient-2 {
    background-color: $black_900;
  }

  .section-title {
    * {
      color: #fff;
    }
    .subtitle {
      color: var(--black_200);
    }
  }

  .theme-btn-outline {
    border-color: #fff;
    color: #fff;
    padding: 15px 51px;
  }

  .bg-shape {
    .shape {
      position: absolute;
      z-index: -1;

      &:nth-child(1) {
        left: 0;
        bottom: 0;
        opacity: 0.5;
      }

      &:nth-child(2) {
        left: 15px;
        bottom: 370px;
      }

      &:nth-child(3) {
        top: 0;
        right: 0;
        transform: rotate(-180deg);
        opacity: 0.5;
      }

      &:nth-child(4) {
        right: 15px;
        top: 370px;
      }

      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8) {
        height: 25px;
        width: 25px;
        background-color: #fff;
        opacity: 0.5;
        border-radius: 50%;
        left: 113px;
        bottom: 300px;
      }

      &:nth-child(6),
      &:nth-child(8) {
        height: 18px;
        width: 18px;
        background-color: #ffb4a5;

        left: 67px;
        bottom: 315px;
      }

      &:nth-child(7) {
        left: inherit;
        bottom: inherit;

        right: 113px;
        top: 300px;
      }

      &:nth-child(8) {
        left: inherit;
        bottom: inherit;
        right: 67px;
        top: 315px;
      }
    }
  }
}

.cta-area-3 {
  background: $black_900;

  @include md {
    margin-left: 120px;
  }

  .cta-text {
    margin-bottom: 0;
  }

  hr {
    @include hr(#464547, 100%, 1px);
    margin: 40px 0 10px;

    @include md {
      margin: 70px 0 40px;
    }
  }

  .cta-btn-wrapper {
    text-align: left;
    margin-top: 40px;
    margin-left: 13px;

    @include md {
      text-align: right;
      margin-top: 0;
    }

    .theme-btn {
      i {
        padding-left: 20px;
      }
    }
  }

  .cta-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 13px;

    @include md {
      margin-top: 0;
      margin-left: 0;
    }

    span {
      color: $brand_color;
      text-transform: uppercase;
      font-size: 14px;
    }

    a {
      color: $white;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}

.cta-area-4 {
  background: #d3f2f5;

  .section-title {
    :is(h2, h3, h4, h5, h6, p, span, .row) {
      padding-left: 0;
    }
  }

  .cta-btn-wrapper {
    margin-left: 0;
  }

  .cta-info {
    margin-left: 0;

    a {
      color: $black_900;
    }
  }

  .footer-img {
    margin-top: 30px;

    @include md {
      margin-top: 0;
    }
  }
}

.cta-area-5 {
  background-color: #441450;
  padding: 132px 0 140px 0;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &.bg-transparent {
    .section-title {
      h2 {
        color: $black_900;
      }

      p {
        color: $p_color;
      }
    }

    .theme-btn.theme-btn-outline {
      border-color: $black_900;
      color: $black_900;

      &:hover {
        color: #fff;
      }
    }
  }

  &.bg-blue {
    background-color: #231450;
  }

  &.bg-dark-blue {
    background-color: #131633;
  }

  .section-title {
    h2 {
      color: $white;
    }

    p {
      font-size: 20px;
      line-height: 32px;
      color: $white;
    }

    .subtitle {
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      color: $white;
    }
  }

  .bg-shapes {
    img {
      position: absolute;
      z-index: -1;

      &:nth-child(1) {
        left: 0;
        top: 0;
      }

      &:nth-child(2) {
        right: 0;
        bottom: 0;
      }
    }
  }

  .theme-btn {
    padding: 15px 48px;

    &.theme-btn-outline {
      border-color: #fff;
      color: #fff;
    }
  }
}

.cta-area-7 {
  background-color: #121138;
  padding-top: 127px;
  position: relative;
  padding-bottom: 150px;

  .section-title {
    h2 {
      color: #fff;
    }

    p {
      color: $black_100;
      max-width: 400px;
      font-size: 20px;
      line-height: 26px;
      margin-top: 21px;
      margin-bottom: 53px;
    }
  }

  .img-shapes {
    .shape {
      position: absolute;

      @keyframes WingsOne {
        0% {
          transform: rotate(-10deg);
        }

        100% {
          transform: rotate(10deg);
        }
      }

      .fly-msg {
        transform: rotate(-30deg);

        img {
          &:nth-child(2) {
            position: absolute;
            left: 0;
            top: 0;
            animation-fill-mode: both;
            animation: WingsOne 0.2s ease-in infinite alternate-reverse;
            animation-delay: 0.2s;
          }

          &:nth-child(3) {
            position: absolute;
            right: 0;
            top: 0;
            animation-fill-mode: both;
            animation: WingsOne 0.2s ease-in infinite alternate-reverse;
          }
        }
      }

      &:nth-child(1) {
        right: 3%;
        transform-origin: left bottom;
        top: 70%;
      }

      &:nth-child(2) {
        left: -18%;
        top: -20%;
      }

      &:nth-child(3) {
        right: 28%;
        bottom: 0%;
        transform-origin: right bottom;
      }

      &:nth-child(4) {
        right: 7%;
        top: -25%;
      }
    }
  }

  .input-append-button {
    .form-control {
      &:focus {
        border-color: #ced4da;

        &::placeholder {
          color: #212529;
        }
      }
    }
  }
}

.input-append-button {
  display: inline-flex;

  .form-control {
    width: 400px;
    border-radius: 5px 0 0 5px;
    height: 60px;
    padding-left: 30px;

    &::placeholder {
      color: $black_500;
      font-size: 16px;
      font-weight: 400;
    }
  }

  .theme-btn {
    padding: 10px 30px;
    border-radius: 0 5px 5px 0;
  }
}


// cta-area-nine 
.cta-area-nine {
  background: #9b0009;
  padding: 160px 0px;
}

.call-action-text {
  position: relative;
  z-index: 1;

  .round {
    width: 390px;
    height: 390px;
    border-radius: 50%;
    background: linear-gradient(138.52deg, #353132 8.25%, #000000 90.99%);
    box-shadow: 25px 44px 62px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(231, 231, 231, 0.1);
      backdrop-filter: blur(2px);
    }
  }

  h2 {
    font-size: 75px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0.05em;
    color: #fff;
    background: linear-gradient(15deg, #FFC700 -21.23%, #ffffff 64.44%), linear-gradient(356deg, #FFFFFF, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--ibm);
  }

  .action-btn {
    font-size: 20px;
    font-family: var(--ibm);
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    margin-top: 20px;
    display: inline-block;
    transition: all 0.4s;

    &:after {
      content: "";
      width: 100%;
      height: 13px;
      background: var(--brand_color);
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
      transition: all 0.3s;
    }

    &:hover {
      padding: 0px 5px 0px 8px;

      &:after {
        height: 100%;
      }
    }
  }
}