html {
  height: 100%;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
    color: $brand_color;
  }

  * {
    transition: all 0.3s ease-in-out;
  }

  &:hover {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $brand_color;
    }
  }
}

body {
  line-height: 1.9;
  font-size: 16px;
  height: 100%;
  font-family: $ibm;
  font-weight: 400;
  color: $p_color;
  letter-spacing: 0.15px;
  position: relative;
}

:focus {
  outline: none;
}

a {
  color: $brand_color;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
  font-family: $playfair;
  color: $black_900;
  margin-bottom: 15px;
}

h1 a,
h2 a,
h3>a,
h4 a,
h5 a,
h6 a {
  color: $h_title;
}

h1 {
  font-size: 75px;
  line-height: 1.2;
}

h2 {
  font-size: 36px;
  line-height: 1.4;

  @include md {
    font-size: 48px;
    line-height: 55px;
  }
}

h3 {
  font-size: 36px;
  line-height: 42px;
}

h4 {
  font-size: 24px;
  line-height: 30px;
}

h5 {
  font-size: 20px;
  line-height: 28px;
}

h6 {
  font-size: 18px;
  line-height: 26px;
}

img {
  max-width: 100%;
}

figure {
  padding-top: 5px;
  padding-bottom: 5px;
  clear: both;
  border: none;
}

figure figcaption {
  color: rgba(0, 0, 0, 0.54);
  line-height: 20px;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  max-width: 728px;
  margin-right: auto;
}

video {
  max-width: 100%;
}

table tr td p:last-child {
  margin-bottom: 0;
}

pre[class*="language-"]>code {
  border-left: 5px solid brand_color_rgba(0.8);
}

.form-check {
  position: relative;
  display: block;
}

/** === Scrollbar === **/
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 30px;
}

/** === Predefined Global Classes === **/

.ibm {
  font-family: $ibm;
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.media-body {
  -ms-flex: 1;
  flex: 1;
}

button:focus {
  outline: none;
}

/** === List style === **/
ul.list-style {
  margin-bottom: 2rem;
}

ul.list-style li {
  margin-bottom: 0.5rem;
  list-style-type: circle;
}

ul.list-style li:last-child {
  margin-bottom: 0;
}

/** === Key === **/
.key,
kbd {
  line-height: 0.95rem;
  border: 1px solid #ddd;
  color: #6b707f;
}

.key,
kbd,
p .key,
p kbd {
  display: inline;
  display: inline-block;
  min-width: 1em;
  padding: 0.5em 0.6em 0.4em;
  margin: 2px;
  font-weight: 400;
  font-size: 0.85rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-decoration: none;
  line-height: 0.6rem;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: #fff;
  border: 1px solid #ddd;
}

.form-check-input {
  &:focus {
    border-color: rgba($brand_color, 0.25);
    box-shadow: 0 0 0 0.25rem rgba($brand_color, 0.25);
  }

  &:checked {
    background-color: $brand_color;
    border-color: $brand_color;
  }
}

.form-control {
  &:focus {
    box-shadow: none;
    border-color: $brand_color;
  }
}

/*===== section title scss ======*/

.border-top,
.border-bottom,
.border-start,
.border-end {
  border-color: #3d3d4e !important;
}

.bg_color {
  background: #fafcfd;
}

.f_bg_color {
  background: #f6fbfc;
}

.bg-disable {
  background-color: #fafafa;
}

.bg-muted {
  background-color: #f5f5f5 !important;
}

/** === Back to Top Button === **/
#back-to-top {
  display: inline-block;
  background-color: rgba(220, 220, 220, 0.8);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#back-to-top::after {
  content: "\32";
  font-family: eleganticons;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #000;
}

#back-to-top:hover {
  cursor: pointer;
  background-color: #333;
}

#back-to-top:hover::after {
  color: #fff;
}

#back-to-top:active {
  background-color: #555;
}

#back-to-top.show {
  opacity: 1;
  visibility: visible;
}

.box_pad {
  max-width: 100%;
  padding: 0 60px;
}

.visible {
  opacity: 1 !important;
}

.round-stroke-title {
  display: inline-block;
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    height: 128%;
    width: 100%;
    background-image: url(../img/home_one/round-stroke.png);
    background-size: contain;
    background-position: center;
    top: -3px;
    left: -10px;
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.line-stroke-title {
  display: inline-block;
  position: relative;
  z-index: 1;

  &.animated {
    &::after {
      transform: translateX(-50%) scaleY(1);
    }
  }

  &::after {
    content: "";
    height: 37%;
    width: 101%;
    background: $brand_color;
    left: 50%;
    transform: translateX(-50%) scaleY(0);
    transform-origin: bottom;
    position: absolute;
    z-index: -1;
    bottom: 10px;
    transition: transform 0.7s linear;
    transition-delay: 0.7s;
  }
}

.line-stroke-title-2 {
  @extend .line-stroke-title;

  &::after {
    opacity: 0.3;
    bottom: -1px;
  }
}

/** ===== section title scss ====== **/

.section-title {
  .red {
    color: $brand_color;
  }

  .subtitle {
    display: inline-block;
    font-family: $ibm;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 14px;
  }

  h2 {
    font-family: $playfair;
    font-size: 36px;
    font-weight: 700;
    line-height: 55px;
    color: $black_900;
    margin-bottom: 1.5rem;

    @include md {
      font-size: 42px;
    }
  }
}

.body_wrapper {
  overflow: hidden;
}

/*================ preloader css ====================*/
#preloader {
  background: #fff;
  height: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  p {
    color: $p_color;
    display: block;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border: none;
    margin: 0;
    padding: 0;
  }

  .head {
    color: $h_title;
    display: block;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 5.2px;
    text-transform: uppercase;
    text-align: center;
    font-family: $ibm;
    margin: 5% 0 1% 0;
    padding: 0;
  }

  .loading {
    display: flex;
  }

  .ctn-preloader {
    padding-left: 15px;
    padding-right: 15px;
  }

  .spinner {
    animation: spinner 3s infinite linear;
    border-radius: 50%;
    border: 3px solid #f1f6f8;
    border-left-color: $brand_color;
    border-top-color: $brand_color;
    margin: 0 auto 0em auto;
    position: absolute;
    left: -40px;
    right: -40px;
    bottom: -40px;
    top: -40px;

    &:before {
      content: "";
      width: 20px;
      height: 20px;
      border: 6px solid #fff;
      box-shadow: 0 0 20px 0 rgba(4, 46, 56, 0.2);
      background: $brand_color;
      position: absolute;
      right: 31px;
      top: 41px;
      border-radius: 50%;

      @media (max-width: 576px) {
        top: 18px;
      }
    }
  }

  .round_spinner {
    border-width: 1px;
    border-color: rgb(238, 243, 244);
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(253, 253, 253);
    box-shadow: 0 0 100px 0 rgba(4, 46, 56, 0.14);
    width: 248px;
    height: 248px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 40px auto 80px;

    @media (max-width: 576px) {
      width: 155px;
      height: 155px;
    }

    h4 {
      font-size: 30px;
      font-weight: 400;
      margin-bottom: 0;
      color: $h_title;

      span {
        font-weight: 700;
      }
    }
  }
}

@keyframes spinner {
  to {
    transform: rotateZ(360deg);
  }
}

@-webkit-keyframes slideInnew {
  0% {
    opacity: 0;
    -webkit-transform: translate(50px, -50px);
    transform: translate(50px, -50px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes slideInnew {
  0% {
    opacity: 0;
    -webkit-transform: translate(50px, -50px);
    -ms-transform: translate(50px, -50px);
    transform: translate(50px, -50px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-webkit-keyframes slideInnewRotate {
  0% {
    opacity: 0;
    -webkit-transform: translate(80px, -80px) rotate(-21.71deg);
    transform: translate(80px, -80px) rotate(-21.71deg);
  }

  100% {
    -webkit-transform: translate(0, 0) rotate(-21.71deg);
    transform: translate(0, 0) rotate(-21.71deg);
  }
}

@keyframes slideInnewRotate {
  0% {
    opacity: 0;
    -webkit-transform: translate(80px, -80px) rotate(-21.71deg);
    -ms-transform: translate(80px, -80px) rotate(-21.71deg);
    transform: translate(80px, -80px) rotate(-21.71deg);
  }

  100% {
    -webkit-transform: translate(0, 0) rotate(-21.71deg);
    -ms-transform: translate(0, 0) rotate(-21.71deg);
    transform: translate(0, 0) rotate(-21.71deg);
  }
}

.slideInnew {
  -webkit-animation-name: slideInnew;
  animation-name: slideInnew;
}

.slideInnewRotate {
  -webkit-animation-name: slideInnewRotate;
  animation-name: slideInnewRotate;
}

.dbl-arrow {
  display: inline-block;

  .arrow-cont {
    cursor: pointer;
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 5px;

    i {
      position: absolute;
      bottom: 0;
      margin-left: 0;
      background-size: contain;
      top: 5px;
      left: 0%;
    }

    .second {
      margin-left: 8px;
    }
  }

  &:hover {
    i {
      animation-name: bounceAlpha;
      animation-duration: 1.4s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      &.first {
        animation-name: bounceAlpha;
        animation-duration: 1.4s;
        animation-delay: 0.2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
  }
}

.round-box {
  padding: 40px;
  border-radius: 20px;
}

.scroll-down-one {
  display: inline-block;

  .circle {
    height: 25px;
    width: 18px;
    border-radius: 9px;
    position: relative;
    border: 1px solid #fff;
    box-sizing: border-box;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 6px;
      width: 1px;
      background-color: #fff;
    }
  }

  .arrow-cont {
    cursor: pointer;
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;

    i {
      position: absolute;
      bottom: 0;
      background-size: contain;
      top: 2px;
      left: 0%;
      font-size: 17px;
      color: #fff;

      &:nth-child(2) {
        margin-top: 5.5px;
      }

      &:nth-child(3) {
        margin-top: 11.5px;
      }
    }
  }

  &:hover {
    i {
      animation-name: bounceAlphaUpper;
      animation-duration: 1.4s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      &:nth-child(1) {
        animation-delay: 0.4s;
      }

      &:nth-child(2) {
        animation-delay: 0.2s;
      }
    }
  }
}

@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }

  25% {
    opacity: 0;
    transform: translateX(10px) scale(0.9);
  }

  26% {
    opacity: 0;
    transform: translateX(-10px) scale(0.9);
  }

  55% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes bounceAlphaUpper {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  25% {
    opacity: 0;
    transform: translateY(10px) scale(0.9);
  }

  26% {
    opacity: 0;
    transform: translateY(-10px) scale(0.9);
  }

  55% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.circle-item {
  @include size(39px);
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

.circle-spinner {
  @include size(45px);
  @include relative(top -5px right 5px);

  & .path {
    stroke: $white;
    stroke-linecap: round;
    animation: dash 5.35s linear infinite;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 130, 150;
    stroke-dashoffset: 0;
  }
}

// Gutter
.gx-60 {
  @include xl {
    --bs-gutter-x: 60px;
  }
}

.bg-white {
  background: var(--white);
}

.bg-white-100 {
  background: var(--white_100);
}

.z-1 {
  z-index: 1;
}

.z-n1 {
  z-index: -1;
}

@keyframes pulse-white {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse-red {
  0% {
    box-shadow: 0 0 0 0 rgba(217, 44, 10, 1);
  }

  80% {
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@-webkit-keyframes footerMoveOne {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

@keyframes footerMoveOne {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}