.feature-area {
  background: #d3f5ef;
  position: relative;
  z-index: 1;
  overflow: hidden;

  .shape {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .shape-4 {
    bottom: 0;
    left: -100px;
    
  }

  .shape-5 {
    top: 0;
    left: -100px;
    
  }

  .shape-6 {
    top: 0;
    right: 0;
  }

  .shape-7 {
    top: 0;
    right: 0;
  }
  &.active{
    .shape{
      opacity: 1;
    }
    .shape-4{
      left: 0;
      transition: all 0.8s linear 0.5s;
    }
    .shape-5{
      left: 0;
      transition: all 0.9s linear 0.5s;
    }
    .shape-6{
      animation: fadeInRight 1.3s linear 0.3s;
    }
    .shape-7{
      animation:fadeInDown 1.6s linear 0.4s;
    }
    .shape-8{
      animation: fadeInLeft 1.3s linear 0.3s;
    }
    .shape-9{
      animation:fadeInDown 1.6s linear 0.4s;
    }
  }
}
.section {
  &.active{
    h1{
      animation: fadeInUp 0.7s linear 0.3s;
    }
    h2,h3{
      animation: fadeInUp 0.7s linear 0.3s;
    }
    p,span{
      animation: fadeInUp 0.8s linear 0.3s;
    }
    .btn,.read-more-btn{
      animation: fadeInUp 0.85s linear 0.3s;
    }
  }
}

.feature-content {
  @include xxl {
    padding-left: 70px;
  }

  h2 {
    font-size: 36px;
    font-weight: 700;
    color: $black_900;

    @include xxl {
      font-size: 75px;
    }
  }

  p {
    font-size: 18px;
    color: $p_color;
    line-height: 1.8;
    margin-top: 20px;

    @include md {
      margin-top: 35px;
    }

    @include xl {
      width: 95%;
    }
  }

  .btn-outline-black {
    --btn-px: 38px;
    --btn-radius: 0;
    margin-top: 15px;
    &:hover {
      --btn-clr: #fff;
      --btn-bg: var(--black_900);
      --btn-bc: var(--black_900);
    }
    @include md {
      margin-top: 55px;
    }
  }
}

.fullpage_slide_two {
  .feature-content {
    padding-top: 60px;

    @include md {
      padding-top: 0;
    }
  }

  .feature-image {
    margin-top: 50px;

    @include md {
      margin-top: 0;
    }

    img {
      width: 100%;
    }
  }
}

.fullpage_slide_three {
  background: #e1f5d3;
  position: relative;
  overflow: hidden;
  &.active{
    .feature-image{
      animation: fadeInRight 0.7s linear 0.3s;
    }
  }
  .feature-content {
    padding-top: 60px;

    @include md {
      padding-top: 0;
    }
  }

  .feature-image {
    display: inline-block;
    position: relative;
    margin-top: 30px;
    width: 80%;

    @include md {
      width: 100%;
      margin-top: 0;
    }

    @include xl {
      width: auto;
    }

    img {
      width: 100%;

      @include lg {
        width: auto;
      }
    }

    @include pseudo(inset 0) {
      background: rgba(#17161a, 0.5);
    }

    .dont-shape {
      @include absolute(top -50px right -50px);
      z-index: -1;
      width: auto;
    }
  }

  .play-button {
    a {
      background: $white;
      color: $brand_color;

      @include hover {
        @include before {
          animation: pulse-white 2s infinite;
        }
      }
    }
  }
}

.fullpage_section_three {
  position: relative;
  z-index: 1;
  .shape16 {
    @include absolute(top 15% right 80px);
    z-index: -1;

    @include xxl {
      right: 127px;
    }
  }

  .shape17 {
    @include absolute(bottom 20px left 50%);
    transform: translateX(-50%);
    z-index: -1;

    @include xxl {
      bottom: 78px;
    }
  }

  .subtitle {
    font-family: $ibm;
    font-size: 14px;
    font-weight: 500;
    color: $white;
    text-transform: uppercase;
    margin-bottom: 5px;
    display: block;
  }

  .feature-image {
    position: relative;
    z-index: 1;

    .feature-img {
      width: 100%;

      @include md {
        width: auto;
        max-width: 80%;
      }

      @include lg {
        max-width: 100%;
      }

      @include xxl {
        @include relative(left -155px);
        width: auto;
      }
    }

    .shape15 {
      @include absolute(top 30px right 0);
      z-index: -1;
      width: 100%;
      transform: scale(0);
        z-index: -1;
        opacity: 0;
      @include md {
        width: auto;
        max-width: 80%;
        top: 0;
        right: 50px;
      }

      @include lg {
        max-width: 100%;
      }

      @include xxl {
        width: auto;
        right: 40px;
      }
    }
  }
  &.active{
    .shape15{
      transform: scale(1);
      transition: all 0.9s linear 0.3s;
      opacity: 1;
    }
  }
  .feature-content {
    padding-left: 0;
    padding-top: 100px;

    h2 {
      font-size: 36px;
      color: $white;

      @include xl {
        font-size: 48px;
      }
    }
  }

  .feature-item {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    padding: 25px 20px 10px 20px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    margin-top: 20px;
    @include property;

    @include pseudo(inset 0) {
      background: #f9f9f924;
      border-radius: 10px;
      z-index: -1;
      @include property;
      opacity: 0;
      visibility: hidden;
    }

    .feature-icon {
      @include size(50px);
      line-height: 50px;
      border-radius: 10px;
      margin-top: 5px;
      background: $white;
      text-align: center;
      flex: 0 0 auto;
      @include property;
    }

    .feature-text {
      .title {
        font-family: $ibm;
        font-weight: 600;
        color: $white;
      }

      p {
        font-size: 16px;
        color: $white;
        margin-top: 15px;
        width: 100%;
      }
    }

    @include hover {
      @include before {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.feature-area-2 {
  position: relative;
  z-index: 1;

  .shape {
    z-index: -1;
  }

  .feature-left-content {
    .feature-image {
      position: relative;

      @include xxl {
        transform: translateX(-30%);
        width: 130%;
      }

      img {
        width: 100%;
      }

      &.feature-image-2 {
        @include xxl {
          transform: translateX(6%);
        }
      }
    }
  }

  .feature-right-content {
    padding-top: 50px;

    @include md {
      padding-top: 0;
    }

    @include xxl {
      padding-left: 30px;
    }

    &.right-content-2 {
      @include xxl {
        padding-left: 100px;
      }
    }

    span {
      text-transform: uppercase;
      margin-bottom: 25px;
      display: block;
    }

    h2 {
      padding-bottom: 30px;
    }

    p {
      font-size: 20px;
      line-height: 1.8;

      @include xl {
        width: 70%;
      }
    }

    .btn {
      --btn-px: 30px;
      font-weight: 500;
      margin-top: 50px;
    }
  }
}

.feature-area-3 {
  margin-top: -115px;
  padding-bottom: 150px;
  .feature-box {
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
    padding: 60px 40px;
    transition: all 0.3s ease-in-out;
    box-shadow: none;
    position: relative;
    z-index: 1;
    &:hover {
      box-shadow: 0 20px 45px 0 #17161a1a;
    }
    h4 {
      font-family: $ibm;
      margin-top: 30px;
      margin-bottom: 22px;
    }
    p {
      color: $black_900;
      margin-bottom: 35px;
    }
    a {
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
      display: inline-block;
      color: $brand_color;
      &:hover {
        color: $brand_color;
        i {
          transform: translateX(10px);
          &::after {
            width: 17px;
            background-color: $brand_color;
          }
        }
      }
      i {
        position: relative;
        display: inline-block;
        font-size: 12px;
        margin-left: 1px;
        &::after {
          content: "";
          height: 1px;
          background-color: $black_900;
          width: 0;
          right: 3px;
          top: 50%;
          position: absolute;
          transform: translateY(-50%);
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}

.feature-area-4 {
  padding-top: 127px;
  padding-bottom: 121px;
  h2 {
    margin-bottom: 21px;
  }
  p {
    max-width: 435px;
  }
}
.feature-area-4 .single-feature,
.feature-area-5 .single-feature {
  padding-left: 10px;
  max-width: 230px;
  margin-bottom: 72px;
  h4 {
    position: relative;
    margin-bottom: 20px;
    font-family: var(--ibm);
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;

    &::after {
      content: "";
      position: absolute;
      left: -11px;
      top: 0;
      height: 100%;
      width: 1px;
      background-color: $brand_color;
    }
  }
  p {
    margin-bottom: 0;
  }
}
.my-books-area {
  padding-top: 135px;
  padding-bottom: 64px;
  h3 {
    border-bottom: 1px solid $black_900;
    padding-bottom: 34px;
    margin-bottom: 70px;
  }

  .single-book {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;

    .book-img {
      display: inline-block;
      box-shadow: 7px 7px 25px 0 #00000026;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      overflow: hidden;
      &:hover {
        opacity: 0.9;
      }
    }
    .book-info {
      margin-left: 100px;
      p {
        max-width: 360px;
        margin-top: 20px;
      }

      .line-arrow-btn {
        margin-top: 35px;
        color: $black_900;
        &:hover {
          color: $white;
        }
      }
    }
  }

  .books-sidebar {
    position: sticky;
    left: 0;
    top: 130px;
    ul {
      li {
        margin-bottom: 10px;
        a {
          font-size: 16px;
          font-weight: 500;
          line-height: 30px;
          color: $black_900;
          padding: 0px;
          &:hover,&.active{
            color: $brand_color;
            background: transparent;
          }
        }
      }
    }
  }
}

.what-you-learn {
  padding-top: 125px;
  h2{
    span{
      color: #d92c0a;
    }
  }
  .box-widget {
    border-radius: 5px;
    padding: 60px 30px;

    &.bg-1 {
      background-color: #e1f8fa;
    }

    &.bg-2 {
      background-color: #e1fae1;
    }

    &.bg-3 {
      background-color: #e1f8fa;
    }

    &.bg-4 {
      background-color: #e1ebfa;
    }

    h4 {
      font-family: $ibm;
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
      margin-top: 28px;
      letter-spacing: 1px;
    }
    p {
      margin-top: 14px;
      margin-bottom: 0;
    }
  }
}

.book-chapter-area {
  background-color: #f3f3f3;
  padding-top: 125px;
  padding-bottom: 136px;
  .version {
    margin-top: 39px;
    h5 {
      font-family: $ibm;
    }
    p {
      padding: 0 15px;
      margin-bottom: 0;
    }
  }
}
.chapter-tab {
  gap: 10px;
  border: none;
  @media ( min-width: 991px ) {
    &.left-chapters {
      padding-right: 20px;
    }
    &.right-chapters {
      padding-left: 20px;
    }
  }
  .nav-link {
    border-radius: 8px;
    padding: 20px 42px 18px 42px;
    border: none;
    box-shadow: none;
    background-color: #fff;
    cursor: pointer;
    min-width: 380px;
    @media (max-width: 400px) {
      min-width: 340px;
    }
    &.active {
      background-color: $brand_color;
      .title {
        color: #fff;
      }
      p {
        color: #fff;
      }
    }
    h4 {
      font-family: $ibm;
      font-weight: 500;
      margin-bottom: 2px;
      color: $black_900;
      font-size: 20px;
    }
    p {
      margin-bottom: 0;
      color: $p_color;
    }
  }
}

.chapter-tab-content {
  text-align: center;

  .main-img {
    border-radius: 5px;
    box-shadow: 16.148149490356445px 24.222225189208984px 40.3703727722168px 0
      #0000001a;
    overflow: hidden;
    display: inline-block;
  }
}

.book-award-area {
  .section-title {
    P {
      max-width: 576px;
      margin-top: 20px;
    }
  }
}

.award-widget {
  text-align: center;
  display: inline-block;
  h5 {
    font-family: $ibm;
    font-size: 22px;
    font-weight: 600;
    line-height: 25px;
    max-width: 125px;
    margin-top: 26px;
  }
}

.book-author-area {
  padding: 50px 0 150px 0;
  p {
    max-width: 506px;
    margin-top: 20px;
  }
  .author-img {
    text-align: center;
    position: relative;
    z-index: 1;
    .shape {
      position: absolute;
      top: -20px;
      left: 0;
      z-index: -1;
    }
  }
}

.book-statistics {
  position: relative;
  background-image: url(../img/my_book/book-stat-bg.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  z-index: 1;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 100px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(#1d2e59, 0.85);
    z-index: -1;
  }

  p {
    color: $black_100;
    margin-top: 12px;
    margin-bottom: 1px;
  }
  h1 {
    font-family: $ibm;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 1px;
    color: #fff;
  }
}

.feature-area-5 {
  background-color: #f5f5f5;
  .overline {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1px;
  }

  .single-feature {
    &:last-child {
      margin-bottom: 0;
    }
    ul {
      li {
        margin-bottom: 6px;
        &:last-child {
          a {
            color: $black_500;
          }
          margin-bottom: 0;
        }
        a {
          img {
            margin-right: 10px;
          }
          color: $p_color;
        }
      }
    }
  }

  .company-case-slider {
    .swiper-slide {
      background-color: #f5f5f5;
    }
    .swiper-slide-shadow {
      background-color: #f5f5f5;
      z-index: -1;
    }
  }
}
.company-case-widget {
  .company-img {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    background-color: #613bcb;
    height: 480px;
    transition: all 0.6s cubic-bezier(0.7, 0, 0, 1);

    &.overlay-1 {
      background-color: #24ac21;
      &::after {
        background-image: linear-gradient(
          to bottom,
          rgba(#24ac21, 0),
          rgba(#24ac21, 0.7)
        );
      }
    }
    &.overlay-2 {
      background-color: #221fb0;
      &::after {
        background-image: linear-gradient(
          to bottom,
          rgba(#221fb0, 0),
          rgba(#221fb0, 0.7)
        );
      }
    }
    &.overlay-3 {
      background-color: #1a8753;
      &::after {
        background-image: linear-gradient(
          to bottom,
          rgba(#1a8753, 0),
          rgba(#1a8753, 0.7)
        );
      }
    }
    &.overlay-4 {
      background-color: #7d10a3;
      &::after {
        background-image: linear-gradient(
          to bottom,
          rgba(#7d10a3, 0),
          rgba(#7d10a3, 0.7)
        );
      }
    }
    &.overlay-5 {
      background-color: #1e4aba;
      &::after {
        background-image: linear-gradient(
          to bottom,
          rgba(#1e4aba, 0),
          rgba(#1e4aba, 0.7)
        );
      }
    }
    &.overlay-6 {
      background-color: #b11d2f;
      &::after {
        background-image: linear-gradient(
          to bottom,
          rgba(#b11d2f, 0),
          rgba(#b11d2f, 0.7)
        );
      }
    }

    * {
      transition: all 0.6s cubic-bezier(0.7, 0, 0, 1);
    }

    &:hover {
      &::after {
        opacity: 1;
        transform: scaleY(1);
      }
      .main-img {
        transform: scale(1);
      }
      .caption {
        bottom: 22px;

        span {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    &::after {
      position: absolute;
      content: "";
      height: 32%;
      width: 100%;
      background-image: linear-gradient(
        to bottom,
        rgba(#613bcb, 0),
        rgba(#613bcb, 0.7)
      );
      left: 0;
      bottom: 0;
      opacity: 0;
      transform: scaleY(0);
      transition: all 0.6s cubic-bezier(0.7, 0, 0, 1);
      transform-origin: bottom;
    }
    .logo,
    .action,
    .main-img,
    .caption {
      position: absolute;
    }
    .logo {
      position: absolute;
      top: 30px;
      left: 30px;
      z-index: 2;
      img {
        filter: saturate(100%) brightness(0%) invert(100%) sepia(0%)
          hue-rotate(234deg) contrast(101%);
      }
    }
    .main-img {
      height: 100%;
      width: 100%;
      opacity: 0.6;
      top: 0;
      left: 0;
      transform: scale(1.03);
    }
    .action {
      right: 30px;
      top: 30px;
      z-index: 2;
      &.video {
        height: 25px;
        width: 25px;
        background-color: #fff;
        border-radius: 50%;
        line-height: 25px;
        text-align: center;
        text-shadow: 0 3px 5px #d92c0a4d;
        font-size: 10.5px;
      }
    }
    .caption {
      left: 30px;
      bottom: -10px;
      z-index: 2;
      max-width: 405px;

      p {
        font-size: 24px;
        font-weight: 500;
        line-height: 30px;
        color: #fff;
        margin-bottom: 7px;
      }
      span {
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        color: #fff;
        display: inline-block;
        transition: all 0.6s cubic-bezier(0.7, 0, 0, 1);
        opacity: 0;
        transform: translateY(10px);
      }
    }
  }

  .logo-slide-5 {
    .swiper-slide {
      text-align: center;
      position: relative;
      opacity: 0.6;
      padding: 30px 0;
      &.swiper-slide-thumb-active {
        opacity: 1;
        &::after,
        &::before {
          opacity: 1;
          visibility: visible;
        }
        &::after {
          transform: scaleX(1);
        }
      }
      &::after,
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 1px;
        background-color: rgba(#d92c0a, 0.2);
        opacity: 0;
        visibility: none;
      }

      &::after {
        transform-origin: left;
        background-color: $brand_color;
        transform: scaleX(0);
        transition: transform 5s linear;
      }
    }
  }
}

.feature-area-6 {
  background-color: #f5f5f5;
  .list {
    padding-bottom: 45px;
    border-bottom: 1px dashed #ccccce;
    a {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      display: block;
      margin-bottom: 10px;
      color: #747376;
      &:hover {
        color: $brand_color;
        i {
          background-color: rgba(#d92c0a, 15%);
        }
      }
      i {
        margin-right: 8px;
        height: 16px;
        width: 16px;
        background-color: rgba(#747376, 15%);
        line-height: 19px;
        font-size: 8px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
      }
    }
  }

  .feature-card {
    display: flex;
    gap: 40px;
    text-align: right;

    & > div {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
    }
  }
  .feature-card-img {
    border-radius: 10px;
  }
  .shadow-1 {
    box-shadow: 0 15px 30px 0 #17161a1a;
  }
  .shadow-2 {
    box-shadow: 0 10px 25px 0 #17161a1a;
  }
  .shadow-3 {
    box-shadow: 0 15px 30px 0 #17161a1a;
  }
  .shadow-4 {
    box-shadow: 0 15px 29px 0 #17161a1a;
  }
  .ready-to-start {
    padding-top: 133px;
    h6 {
      font-family: $ibm;
      font-size: 18px;
      font-weight: 500;
      line-height: 26px;
      margin-top: 22px;
      margin-bottom: 7px;
      color: #17161a;
    }
    .theme-btn {
      border-radius: 5px;
    }
    a {
      font-weight: 500;
    }
    .arrow-btn:hover{
      color: #eb3a17;
      text-decoration: underline;
    }
  }
}
.company-size-tab {
  .nav-tabs {
    border: none;
    align-items: center;
    .nav-link {
      padding: 3px 15px;
      border-radius: 3px;
      font-size: 16px;
      font-weight: 400;
      border: none;
      box-shadow: none;
      color: $black_900;
      background-color: transparent;

      &.active {
        background-color: $brand_color;
        color: #fff;
      }
    }
    a {
      margin-left: 15px;
    }
  }
}
.use-case-masonry {
  .item-big {
    height: 624px;
  }
  .item-small {
    height: 300px;
  }
  .tab-pane {
    .company-img {
      transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: scale(0.8);
      opacity: 0.4;
    }

    &.show {
      .company-img {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}
