.footer-area {
  &.border-top {
    border-color: #ccccce !important;
  }

  .copyright-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #000000;
  }
}

.social-link {
  display: inline-flex;
  flex-direction: row;

  a {
    color: $black_500;
    margin-right: 10px;

    &:hover {
      .fa-facebook-f {
        color: #4267b2;
      }
      .fa-twitter {
        color:  #1DA1F2;
      }
      .fa-behance {
        color: #053eff;
      }
      .fa-dribbble {
        color: #ea4c89;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.social-link-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;

  a {
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    padding: 5px 11px;
    width: 153px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #fff;
    background-color: #1877f2;

    &:hover {
      background-color: #4b93f0;
    }

    &:nth-child(2) {
      background-color: #1da1f2;

      &:hover {
        background-color: #46b2f4;
      }
    }

    &:nth-child(3) {
      background-color: #ff0000;

      &:hover {
        background-color: #f93737;
      }
    }

    i {
      font-size: 14px;
      margin-right: 10px;
    }
  }
}

.social-link-3 {
  a {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 16px;
    display: block;
    letter-spacing: initial;

    .fa-twitter {
      color: #1da1f2;
    }

    .fa-google-plus-g {
      color: #f44336;
    }

    .fa-youtube {
      color: #e50b0b;
    }

    .fa-pinterest-p {
      color: #bd081c;
    }

    .fa-instagram {
      color: #dd2a7b;
    }

    .fa-facebook-f {
      color: #1778f2;
    }

    i {
      margin-bottom: 8px;
      font-size: 24px;
    }

    h6 {
      font-family: $ibm;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      margin-bottom: 0;
    }

    P {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 0;
      color: $p_color;
    }

    &:hover {
      background-color: #f44336;

      i,
      h6,
      p {
        color: #fff;
      }
    }
  }
}

.footer-area-3 {
  background-color: #141216;
  color: #fff;
  position: relative;
  z-index: 1;

  .bg-shape {
    img {
      position: absolute;
      z-index: -1;

      &:nth-child(1) {
        left: 0;
        bottom: 0;
        opacity: 0.2;
      }

      &:nth-child(2) {
        right: 0;
        bottom: 150px;
      }
    }
  }

  h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    color: #fff;
  }

  p {
    font-family: $ibm;
    font-size: 20px;
    font-weight: 500;
  }

  span {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    display: block;
  }

  .social-link {
    a {
      display: inline-block;
      margin-right: 15px;
      color: #fff;
      font-size: 16px;

      &:hover {
        color: $brand_color;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .copyright {
    p {
      font-family: $ibm;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }

    a {
      color: #fff;

      &:hover {
        color: $brand_color;
      }
    }
  }
}

.footer-area-4 {
  background: #1d1c21;

  @include md {
    margin-left: 120px;
  }

  .section-tag {
    .html {
      padding-left: 0;
    }

    .body {
      padding-left: 10px;
    }

    .p {
      padding-left: 30px;
    }

    .footer {
      padding-left: 20px;
    }

    .row {
      padding-left: 0;
    }
  }

  .copyright-text {
    padding-left: 40px;
    display: flex;
    flex-direction: column;

    @include md {
      flex-direction: row;
      align-items: center;
    }

    span {
      padding-left: 0;
      color: $black_200;
    }

    a {
      color: $black_200;

      @include md {
        padding-left: 25px;
      }

      @include hover {
        color: $brand_color;
      }
    }
  }

  .footer-img {
    margin-top: 30px;
    margin-left: 36px;

    @include md {
      margin-top: 0;
      margin-left: 0;
    }
  }

  .social-link {
    margin-top: 30px;
    margin-left: 36px;

    @include md {
      margin-top: 0;
      margin-left: 0;
    }
  }
}

.footer-top {
  .footer-info {
    h4 {
      font-size: 20px;
      color: $white;
      margin-bottom: 0;
    }

    a {
      color: $white;
      font-size: 12px;
      line-height: 1;
      font-family: $font;
    }
  }
}

.footer-copyright {
  h4 {
    font-size: 20px;
    color: $white;
    margin-bottom: 0;
  }

  span {
    color: $white;
    font-size: 12px;
    line-height: 1;
    font-family: $font;
  }
}

.footer-bottom {
  .border-top {
    border-top: 1px solid var(--black_700) !important;
  }

  .social-link {
    a {
      color: $white;
      &:hover{
        .fa-facebook-f {
          color: #4267b2;
        }
        .fa-twitter {
          color:  #1DA1F2;
        }
        .fa-behance {
          color: #053eff;
        }
        .fa-dribbble {
          color: #ea4c89;
        }
      }
    }
  }
}

.footer-menu {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    @include md {
      justify-content: flex-end;
    }

    @include xl {
      gap: 30px;
    }
  }

  li {
    list-style: none;

    a {
      font-family: $font;
      font-size: 12px;
      color: $white;
      &:hover{
        color: $brand_color;
      }
    }
  }
}

.footer-area-5 {
  margin-left: 0;
  background: #d3f2f5;

  .copyright-text {
    color: $black_600;

    :is(span, a) {
      color: $black_600;
    }
  }

  .social-link {
    margin-left: 0;
  }
}

.footer-area-6 {
  position: relative;
  z-index: 1;
  padding-top: 120px;
  overflow: hidden;
  background-color: #fff;

  &.varient-2 {
    background-color: #243033;

    .bg-shapes {
      div {
        position: absolute;

        &:nth-child(1) {
          height: 706px;
          width: 706px;
          background-color: #243033;
          box-shadow: -15px 0 40px 0 #00000026;
          transform: rotate(-125deg);
          right: -25%;
          bottom: -34%;
          z-index: -1;
        }

        &:nth-child(2) {
          background-color: $brand_color;
          height: 382px;
          width: 243px;
          right: 0;
          bottom: 0;
          opacity: 0.3;
          z-index: -2;
        }
      }
    }

    .footer-top {
      padding-bottom: 120px;

      p {
        color: #ccccce;
      }

      h5 {
        color: var(--black_50);
      }

      .input-append-button {
        .theme-btn {
          background-color: var(--black_600);
          border-color: transparent;
          color: #fff;
        }

        .form-control {
          border-color: var(--black_600);
          background-color: rgba(255, 255, 255, 0.1);
          color: #b9b9ba;

          &::placeholder {
            color: #b9b9ba;
          }

          &:hover {
            background: rgba(255, 255, 255, 0.05);
          }

          &:focus {
            border-color: var(--black_600) !important;
            &::placeholder {
              color: $black_50;
            }
          }
        }
      }

      ul {
        li {
          a {
            color: var(--black_200);
          }
        }
      }
    }

    .footer-bottom {
      padding-top: 30px;
      border-top: 1px solid rgba(#fff, 0.1);

      p,
      a {
        color: #b9b9ba;
      }
    }
  }

  .bg-img {
    img {
      position: absolute;
      bottom: 60px;
      z-index: -1;

      &:nth-child(1) {
        left: 0;
        right: 0;
      }

      &:nth-child(2) {
        left: 600px;
        bottom: 54px;
        -webkit-animation: footerMoveOne 18s linear infinite;
        animation: footerMoveOne 18s linear infinite;
      }

      &:nth-child(3) {
        right: 500px;
        bottom: 50px;
        -webkit-animation: footerMoveOne 23s linear reverse infinite;
        animation: footerMoveOne 23s linear reverse infinite;
      }
    }
  }

  .footer-top {
    padding-bottom: 350px;

    p {
      line-height: 30px;
      margin-bottom: 44px;
      margin-top: 20px;
    }

    h5 {
      font-family: $ibm;
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      margin-bottom: 20px;
    }

    .input-append-button {
      width: 380px;

      .theme-btn {
        padding: 0 19px;
        background-color: #17161a;
        border-color: #17161a;
      }

      .form-control {
        height: 52px;
        padding-left: 20px;
        width: 100%;
        flex: 1 0;

        &:focus {
          border-color: #17161a !important;
        }
      }
    }

    ul {
      margin-bottom: 0;

      li {
        line-height: 14px;
        margin-bottom: 14px;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          display: inline-block;
          color: $p_color;
          line-height: 26px;

          &:hover {
            color: $brand_color;
          }
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;

    p,
    a {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: $black_500;
      margin-bottom: 0;
    }

    a {
      margin-right: 10px;
      position: relative;
      display: inline-block;

      &:last-child {
        &::before {
          display: none;
        }
      }

      &::before {
        content: "|";
        position: absolute;
        right: -9px;
        bottom: -2px;
        color: $black_500;
      }

      &:hover {
        color: $brand_color;
      }
    }
  }
}

.footer-area-7 {
  background-color: #17161a;
  text-align: center;
  padding-top: 100px;

  .trip-stat {
    background-color: rgba(#fff, 0.05);
    border-radius: 6px;
    padding: 30px 0 35px 0;

    h5 {
      margin: 10px 0 0 0;
      font-family: $ibm;
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      color: #fff;
    }

    p {
      color: $black_100;
      margin: 0;
    }
  }

  .social-link {
    padding: 80px 0;

    a {
      height: 45px;
      width: 45px;
      line-height: 42px;
      border-radius: 50%;
      border: 1px solid rgba(#fff, 0.1);
      text-align: center;
      color: rgba(#fff, 0.7);

      &:hover {
        background-color: $black_50;
      }
    }
  }

  .footer-bottom p {
    border-top: 1px solid rgba(#fff, 0.2);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 39px 0;
    margin: 0;
    color: $black_100;
  }
}

.footer-area-8 {
  background-color: #17161a;
  padding: 26px 0;

  P,
  a {
    display: inline-block;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: $black_300;
  }

  a {
    &:hover {
      color: $brand_color;
    }
  }
}


// footer-area-nine 
.footer-area-nine {
  background: #17161A;
  padding-top: 80px;

  .footer-top {
    padding-bottom: 80px;

    h3 {
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 0.01em;
      font-family: var(--ibm);
      color: #e6e6e6;
      font-weight: 500;
    }

    .input-append-button {
      position: relative;
      max-width: 100%;
      display: block;
      margin-top: 40px;

      .form-control {
        background: transparent;
        border: 0px;
        border-bottom: 1px solid #9d9ca04a;
        padding-left: 0px !important;
        border-radius: 0px;
        font-size: 14px;
        font-family: var(--ibm);
        color: #9D9CA0;
        width: 100%;

        &:focus {
          border-color: var(--brand_color) !important;
        }
      }

      button {
        padding: 0px;
        position: absolute;
        background: transparent;
        border: 0px;
        height: 100%;
        right: 0;
        color: var(--brand_color);
        top: 0;
      }
    }

    h5 {
      color: #e8e6e6;
      font-size: 16px;
      font-weight: 500;
      font-family: var(--ibm);
      text-transform: uppercase;
      letter-spacing: 0.01em;
    }

    ul {
      li {
        a {
          font-size: 16px;
          color: $black_200;

          @include hover {
            color: var(--brand_color);
          }
        }
      }
    }
  }

  .f_bottom{
    padding-top: 35px;
    @media (max-width:767px){
      text-align: center;
    }
  }
  .service_btn {
    font-size: 16px;
    font-weight: 600;
    color: #e6e6e6;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #9d9ca04a;
    box-shadow: none;
    padding: 0px 0 20px;
    border-radius: 0px;
    background: transparent;
    &:focus{
      outline: none;
      box-shadow: none;
    }
    &:hover .icon {
      background: #fff;
      color: #000;
    }
    .icon{
      font-size: 24px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      i{
        display: none;
        & + i{
          display: block;
        }
      }
    }
    &.collapsed{
      i{
        display: block;
        & + i{
          display: none;
        }
      }
    }
  }

  .f_service_list_info{
    border-bottom: 1px solid #9d9ca04a;
    padding: 34px 0px 22px;
    h5{
      font-size: 16px;
      font-weight: 600;
      font-family: $ibm;
      color: #fff;
      margin-bottom: 15px;
      text-transform: uppercase;
      letter-spacing: 0.01rem;
    }
    .d-grid{
      grid-template-columns: repeat(4, 1fr);
      align-items: flex-end;
      column-gap: 20px;
      @media (max-width: 991px){
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 480px){
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0px;
      }
    }
  }
  .f_service_list{
    li{
      font-size: 16px;
      font-family: $ibm;
      line-height: 28px;
      letter-spacing: 0.01rem;
      a{
        color: #ccccce;
        font-size: 14px;
        &:hover{
          color: var(--brand_color);
        }
      }
    }
  }

  .copyright-text,
  .text {
    color: #9D9CA0;
    font-size: 14px;
    font-weight: 400;
  }

  .social-link {
    a {
      width: 32px;
      height: 32px;
      font-size: 12px;
      line-height: 30px;
      text-align: center;
      border-radius: 50%;
      border: 1px solid var(--black_600);
      color: #e8e6e6;

      &:hover {
        color: #000;
        background: #e8e6e6;
        border-color: #e8e6e6;
      }
      @media (max-width:767px){
        margin-right: 10px;
        margin-top: 8px;
        margin-bottom: 8px;
      }
    }
  }
}

.feedback_btn_group {
  margin-top: 50px;

  a {
    padding: 0 20px;
    display: inline-block;
    background: #2e2d314f;
    border-radius: 4px;
    text-align: center;
    width: 180px;
    line-height: 77px;

    @include hover {
      transform: scale(1.02);
    }

    &+a {
      margin-left: 20px;
    }
  }
}