.section-padding {
    padding: 80px 0;

    @include lg {
        padding: 120px 0;
    }
}

.section-padding-xl {
    padding: 90px 0;

    @include lg {
        padding: 150px 0;
    }
}

.section-tag {
    :is(h2, h3, h4, h5, h6, p, span, .row) {
        padding-left: 13px;
    }
}