{% load static %}
{% load i18n %}
{% load cache %}
<!-- CTA Section -->
<section class="cta-area-3 cta-area-4 position-relative pt-4 z-1 pb-0 ms-0">
    <div class="container">
        <div class="row">
        <div class="col-12">
            <div class="section-title section-tag mb-45">
            <h2 class="title-text">{% translate 'برای یک شروع جدید فرصت را از دست ندهید...' %} </h2>
            </div>
        </div>
        </div>
        <div class="row align-items-end">
        <div class="col-md-6 col-lg-8">
            <div class="section-title section-tag">
                <p class="cta-text">{% blocktranslate trimmed %}
                    با ما در ارتباط باشید تا با شما تماس بگیریم. 
                {% endblocktranslate %}<br>
                {% blocktranslate trimmed %} 
                    ببینیم که چطور می‌توانیم با هم همکاری کنیم و به هم کمک کنیم. 
                {% endblocktranslate %}</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="cta-btn-wrapper">
            <a href="{% url 'website:contact' %}" class="theme-btn">{% translate 'ارتباط با ما' %} <i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
        </div>
        </div>
        <hr>
        <div class="row align-items-center justify-content-between">
        <div class="col-md-4">
            <div class="cta-info">
            <span>{% translate 'E-MAIL' %}</span>
            <a href="mailto:haniadibazad@gmail.com">haniadibazad@gmail.com</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="cta-info">
            <span>{% translate 'شماره تماس' %}</span>
            <a href="tel:09122844353">09122844353</a>
            </div>
        </div>
        <div class="col-md-4 text-md-end">
            <div class="footer-img">
            <img style="width:130px" src="{% static 'img/logo.png' %}" alt="Image">
            </div>
        </div>
        </div>
    </div>
</section>
    <!-- CTA Section -->
<footer class="cta-area-4 position-relative" id="colophon" role="contentinfo">
    <div class="site-info" style="text-align: center">
        Copyright&copy;&nbsp;{{ CURRENT_YEAR }}&nbsp;
        <a href="/" target="blank">{{ SITE_NAME }}</a>
        &nbsp;|&nbsp;

        <a href="" title="SiteMap" target="_blank">
            SiteMap
        </a>
        &nbsp;|&nbsp;
        <a href="" title="RSS Feed" target="_blank">
            RSS Feed
        </a>
        &nbsp;|&nbsp;
        <a href="" title="Friendly links" rel="nofollow" target="_blank">
            Friendly links
        </a>


    </div>
    <div class="site-info" style="text-align: center">
        Powered by
        <a href="#" rel="nofollow" target="blank">Django</a>
        &nbsp;|&nbsp;
        <a href="https://deodar.ir" rel="nofollow" target="blank">Deodar</a>

    </div>

</footer><!-- #colophon -->


