@font-face {
	font-family: 'IRANSans';
	src: url('../fonts/IRANSans/IRANSansWeb.eot');
	src: url('../fonts/IRANSans/IRANSansWeb.eot') format('embedded-opentype'), url('../fonts/IRANSans/IRANSansWeb(FaNum).woff') format('woff'), url('../fonts/IRANSans/IRANSansWeb.ttf') format('truetype');
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: 'dana';
	src: url('../fonts/dana-fanum-regular.woff') format('woff');
	src: url('../fonts/dana-fanum-regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: 'vazir';
	src: url('../fonts/vazir/Vazir-Light-FD-WOL.eot');
	src: url('../fonts/vazir/Vazir-Light-FD-WOL.eot') format('embedded-opentype'), url('../fonts/vazir/Vazir-Light-FD-WOL.woff') format('woff'), url('../fonts/vazir/Vazir-Light-FD-WOL.ttf') format('truetype');
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: 'vazir-bold';
	src: url('../fonts/vazir/vazir-Bold.eot');
	src: url('../fonts/vazir/vazir-Blod.eot') format('embedded-opentype'), url('../fonts/vazir/Vazir-Bold-FD.woff') format('woff'), url('../fonts/vazir/vazir-Bold.ttf') format('truetype');
	font-weight: 400;
	font-style: normal
}

@font-face {
    font-family: 'Amiri';
    src: url('../fonts/amiri/Amiri-Regular.woff2') format('woff2'), url('../fonts/amiri/Amiri-Regular.ttf') format('woff'), url('../fonts/amiri/Amiri-Bold.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

body *{
    font-family: "dana", sans-serif;
    --ibm: "dana"
}
h1, h2, h3, h4, h5 , h6{
    font-family: "dana", sans-serif;
    --ibm: "dana"
}
.about-area-6 .about-counter-box.bg-white {
    box-shadow: 0 0 20px -5px rgb(131 146 167);
}

.faq-accordion-item .accordion-body {
    text-align: justify;
}
.section-title h2 {
    font-family: 'dana';
}
.banner-content h1 {
    font-family: "dana";
}
/* استایل مخصوص زبان عربی */
body.farsi *{
    font-family: "IRANSans", sans-serif;
    direction: rtl;
}
div#mCSB_1_container {
    direction: ltr;
}

.banner-content-typing h1 {
    font-size : 35px;
}

.banner-content-typing .single-headline , .banner-content-typing .single-headline *{
    font-size : 35px;
    line-height: 1;
}
/* استایل مخصوص زبان عربی */
body.arabi header {
    font-family: 'Amiri', sans-serif;
    direction: rtl;
    text-align: right;
}

/* استایل مخصوص زبان ترکی */
body.turkey header {
    font-family: 'Arial', sans-serif;
    direction: ltr;
    text-align: left;
}

/* استایل مخصوص زبان انگلیسی */
body.english header {
    font-family: 'Arial', sans-serif;
    direction: ltr;
    text-align: left;
}

@media (max-width: 1000px) {
    body.farsi .banner-area-4,body.farsi .about-area-4, .portfolio-area-4,body.farsi .testimonial-area-4,body.farsi .blog-area-4, .cta-area-3,body.farsi .footer-area-4 {
        margin-left: 0px;
    }
}